<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<% view_title @topic.topic_name %>

<%== partial 'topics/topics/tabs' %>

<div class="data-table-wrapper">
  <table class="data-table">
    <thead>
      <tr>
        <th><%== sort_link(:partition_id) %></th>
        <th><%== sort_link(:leader) %></th>
        <th><%== sort_link(:replica_count) %></th>
        <th><%== sort_link('In Sync Brokers', :in_sync_replica_brokers) %></th>
      </tr>
    </thead>
    <tbody>
      <%==
        each_partial(
          @partitions,
          'topics/replications/partition'
        )
      %>
    </tbody>
  </table>
</div>
