<% if command_message.is_a?(Array) %>
  <tr>
    <td colspan="5" class="text-center text-muted">
      This offset does not contain error data. The message may have been compacted or is a system entry.
    </td>
  </tr>
<% else %>
  <% command = command_message.payload %>

  <tr>
    <td>
      <% color = command[:type] == 'result' ? 'success' : 'primary' %>
      <span class="badge bg-<%= color %> badge-topic">
        <%= command[:type] %>
      </span>
    </td>

    <td>
      <%
        color = case command[:command][:name]
                when 'probe'
                  'secondary'
                when 'quiet'
                  'warning'
                when 'stop'
                  'danger'
                else
                  'secondary'
                end
      %>
      <span class="badge bg-<%= color %> badge-topic">
        <%= command[:command][:name] %>
      </span>
    </td>

    <td>
      <% if command[:process][:id] == '*' %>
        *
      <% else %>
        <a href="<%= root_path('consumers', command[:process][:id], 'subscriptions') %>">
          <%= truncate(command[:process][:id], strategy: :middle) %>
        </a>
      <% end %>
    </td>

    <td>
      <%== relative_time command[:dispatched_at] %>
    </td>

    <td class="text-center">
      <a href="<%= root_path('commands', command_message.offset) %>" class="btn btn-sm btn-secondary text-white">
        Details
      </a>
    </td>
  </tr>
<% end %>
