<% command = @command_message.payload %>

<div class="col-span-12">
  <% if command[:schema_version] == @schema_version %>
    <% view_title "#{command[:command][:name]} #{command[:type]} #{@command_message.key}" %>

    <%== partial 'consumers/tabs' %>

    <%== partial 'commands/metadata', locals: { command: command } %>

    <h2 class="h2">
      <% if command[:type] == 'command' %>
        Details
      <% else %>
        Backtraces
      <% end %>
    </h2>

    <% if command[:type] == 'command' %>
      <%== partial 'commands/command_details', locals: { command: command } %>
    <% else %>
      <% command[:result].each_value do |backtrace| %>
        <%== partial 'commands/backtrace', locals: { backtrace: backtrace } %>
      <% end %>
    <% end %>
  <% else %>
    <% view_title 'Incompatible Command Schema' %>

    <%== partial 'consumers/tabs' %>

    <%== partial 'commands/incompatible_schema' %>
  <% end %>
</div>
