<tr>
  <td>
    <%= subscription_group %>
  </td>

  <td>
    <%= topic.name %>
  </td>

  <td>
    <%== badge_secondary topic.patterns.type %>

    <% if subscription_group.multiplexing? %>
      <span class="badge badge-secondary">
        multiplexing
        <%= subscription_group.multiplexing.min %>
        -
        <%= subscription_group.multiplexing.max %>
      </span>
    <% end %>
  </td>

  <td>
    <% assigned = @assigned[consumer_group].include?(topic.name) %>

    <% if assigned %>
      <%== badge_success assigned %>
    <% else %>
      <%== badge_secondary assigned %>
    <% end %>
  </td>

  <td>
    <% if topic.active? %>
      <%== badge_success topic.active? %>
    <% else %>
      <%== badge_secondary topic.active? %>
    <% end %>
  </td>

  <td>
    <%== link_button_primary_sm 'Details', root_path('routing', topic.id) %>
  </td>
</tr>
