<li class="breadcrumb-item">
  <a href="<%= root_path('topics') %>">
    Topics informations
  </a>
</li>

<% if @topic %>
  <li class="breadcrumb-item">
    <a href="<%= root_path('topics', @topic.topic_name, 'config') %>">
      <%= @topic.topic_name %>
    </a>
  </li>
<% end %>

<% if @configs %>
  <li class="breadcrumb-item">
    <a href="<%= root_path('topics', @topic.topic_name, 'config') %>">
      Configuration
    </a>
  </li>
<% end %>

<% if @partitions %>
  <li class="breadcrumb-item">
    <a href="<%= root_path('topics', @topic.topic_name, 'replication') %>">
      Replication
    </a>
  </li>
<% end %>

<% if @distribution %>
  <li class="breadcrumb-item">
    <a href="<%= root_path('topics', @topic.topic_name, 'distribution') %>">
      Distribution
    </a>
  </li>
<% end %>
