<div class="container">
  <div class="row mb-5">
    <div class="col-sm-12">

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link <%= nav_class(end_with: 'config') %>"
            href="<%= root_path('topics', @topic.topic_name, 'config') %>"
          >
            Configuration
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link <%= nav_class(end_with: 'replication') %>"
            href="<%= root_path('topics', @topic.topic_name, 'replication') %>"
          >
            Replication
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link <%= nav_class(end_with: 'distribution') %>"
            href="<%= root_path('topics', @topic.topic_name, 'distribution') %>"
          >
            Distribution
          </a>
        </li>

      </ul>

    </div>
  </div>
</div>
