<div class="tab-container-wrapper">
  <div class="tab-container">
    <a
      href="<%= root_path('topics', @topic.topic_name, 'config') %>"
      class="custom-tab <%= nav_class(end_with: 'config') %>"
    >
      Configuration
    </a>

    <a
      href="<%= root_path('topics', @topic.topic_name, 'replication') %>"
      class="custom-tab <%= nav_class(end_with: 'replication') %>"
    >
      Replication
    </a>

    <a
      href="<%= root_path('topics', @topic.topic_name, 'distribution') %>"
      class="custom-tab <%= nav_class(end_with: 'distribution') %>"
    >
      Distribution
    </a>

    <a
      href="<%= root_path('topics', @topic.topic_name, 'offsets') %>"
      class="custom-tab <%= nav_class(end_with: 'offsets') %>"
    >
      Offsets
    </a>
  </div>
</div>
