<% view_title @topic.topic_name %>

<%== partial 'topics/tabs' %>

<div class="data-table-wrapper">
  <table class="data-table">
    <thead>
      <tr>
        <th><%== sort_link(:name) %></th>
        <th><%== sort_link(:value) %></th>
        <th><%== sort_link(:default?) %></th>
        <th><%== sort_link(:sensitive?) %></th>
        <th><%== sort_link(:read_only?) %></th>
      </tr>
    </thead>
    <tbody>
      <%==
        each_partial(
          @configs,
          'cluster/config'
        )
      %>
    </tbody>
  </table>
</div>
