<% view_title @topic.topic_name %>

<%== partial 'topics/tabs' %>

<% if @limited %>
  <%== partial 'topics/distribution/limited' %>
<% end %>

<% if @aggregated.sum.zero? %>
  <%== partial 'topics/distribution/empty_partitions' %>
<% else %>
  <div class="col-span-12 mb-3">
    <% if @active_partitions.size >= 2 %>
      <%== partial 'topics/distribution/chart' %>
    <% end %>

    <div id="refreshable" class="mt-4">
      <%== partial 'topics/distribution/badges' %>

      <div class="data-table-wrapper">
        <table class="data-table">
          <thead>
            <tr>
              <th><%== sort_link(:partition_id) %></th>
              <th><%== sort_link('Estimated count', :count) %></th>
              <th><%== sort_link('Total share', :share) %></th>
              <th><%== sort_link(:diff) %></th>
            </tr>
          </thead>
          <tbody>
            <%==
              each_partial(
                @distribution,
                'topics/distribution/partition'
              )
            %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
