<% if message.is_a?(Array) %>
  <tr>
    <td class="text-muted">
      <%= message[0] %>
    </td>
    <td class="text-muted">
      <%= message[1] %>
    </td>
    <td colspan="3" class="text-center text-muted">
      This message has either been removed or compacted and is no longer available.
    </td>
  </tr>
<% else %>
  <tr>
    <td>
      <%= message.partition %>
    </td>
    <td>
      <%= message.offset %>
    </td>
    <td>
      <%== time_with_label(message.timestamp) %>
    </td>
    <td>
      <%= message.key %>
    </td>
    <td class="text-center">
      <a href="<%= explorer_path(message.topic, message.partition, message.offset) %>" class="btn btn-sm btn-secondary">
        Details
      </a>
    </td>
  </tr>
<% end %>
