<div class="container">
  <div class="row mb-4">
    <div class="col-sm-12">
      <h5 class="mb-2">
        Metadata
      </h5>
      <hr/>

    </div>
  </div>

  <div class="row mb-5">
    <div class="col-sm-12">
      <table class="processes bg-white table table-hover table-bordered table-striped mb-0 align-middle">
        <tbody>
          <% @message.metadata.to_h.except(:received_at, :key, :headers).each do |k, v| %>
            <%==
              partial(
                'explorer/messages/detail',
                locals: {
                  k: k,
                  v: v
                }
              )
            %>
          <% end %>

          <%==
            partial(
              'explorer/messages/detail',
              locals: {
                k: 'bytesize',
                v: format_memory((@message.raw_payload&.bytesize || 0 / 1024.to_f).round(2))
              }
            )
          %>

          <%==
            partial(
              'explorer/messages/key',
              locals: { message: @message }
            )
          %>

          <%==
            partial(
              'explorer/messages/headers',
              locals: { message: @message }
            )
          %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-4">
    <div class="col-sm-12">
      <h5 class="mb-2">
        Payload
      </h5>
      <hr/>

    </div>
  </div>

  <% if @visibility_filter.payload?(@message) %>
    <div class="row">
      <div class="col-sm-12 mb-4">
        <% if @payload_error %>
          <%== partial 'explorer/failed_deserialization' %>
        <% end %>

        <div class="card">
          <div class="card-body">
            <% if @payload_error %>
              <pre class="m-0 p-0"><code class="wrapped json p-0 m-0"><%= @message.raw_payload %></code></pre>
            <% else %>
              <pre class="m-0 p-0"><code class="wrapped json p-0 m-0"><%= @pretty_payload %></code></pre>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%== partial 'explorer/filtered' %>
  <% end %>
</div>
