<div class="container">
  <div class="row">
    <div class="col-sm-12 text-end">
      <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
        <%
          path = root_path('dashboard?range=seconds')
          active = params.current_range == :seconds ? 'active' : false
        %>
        <a type="button" href="<%= path %>" class="btn btn-outline-primary <%= active %>">
          5 minutes
        </a>

        <%
          path = root_path('dashboard?range=minutes')
          active = params.current_range == :minutes ? 'active' : false
        %>
        <a type="button" href="<%= path %>" class="btn btn-outline-primary <%= active %>">
          1 hour
        </a>

        <%
          path = root_path('dashboard?range=hours')
          active = params.current_range == :hours ? 'active' : false
        %>
        <a type="button" href="<%= path %>" class="btn btn-outline-primary <%= active %>">
          24 hours
        </a>

        <%
          path = root_path('dashboard?range=days')
          active = params.current_range == :days ? 'active' : false
        %>
        <a type="button" href="<%= path %>" class="btn btn-outline-primary <%= active %>">
          7 days
        </a>
      </div>
    </div>
  </div>
</div>
