<%== partial 'consumers/counters' %>
<%== partial 'dashboard/ranges_selector' %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h5 class="mb-3">Processing metrics</h5>

      <hr class="mb-4"/>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab">Messages</button>
        </li>

        <li class="nav-item" role="presentation">
          <button class="nav-link" id="batches-tab" data-bs-toggle="tab" data-bs-target="#batches" type="button" role="tab">Batches</button>
        </li>

        <li class="nav-item" role="presentation">
          <button class="nav-link" id="in-progress-tab" data-bs-toggle="tab" data-bs-target="#in-progress" type="button" role="tab">In progress</button>
        </li>

        <li class="nav-item" role="presentation">
          <button class="nav-link" id="total-lag-tab" data-bs-toggle="tab" data-bs-target="#total-lag" type="button" role="tab">Total lag</button>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane show active" id="messages" role="tabpanel">
          <div style="height: 250px;" class="mt-4">
            <% charts = @charts.with(:messages, :errors, :dead, :retries, :batch_size) %>
            <canvas id="messages-chart" data-datasets="<%= charts %>" class="chartjs" data-label_type="date"></canvas>
          </div>
        </div>

        <div class="tab-pane" id="batches" role="tabpanel">
          <div style="height: 250px;" class="mt-4">
            <% charts = @charts.with(:batches, :errors, :dead, :retries) %>
            <canvas id="batches-chart" data-datasets="<%= charts %>" class="chartjs" data-label_type="date"></canvas>
          </div>
        </div>

        <div class="tab-pane" id="in-progress" role="tabpanel">
          <div style="height: 250px;" class="mt-4">
            <% charts = @charts.with(:enqueued, :busy) %>
            <canvas id="in-progress-chart" data-datasets="<%= charts %>" class="chartjs" data-label_type="date"></canvas>
          </div>
        </div>

        <div class="tab-pane" id="total-lag" role="tabpanel">
          <div style="height: 250px;" class="mt-4">
            <% charts = @charts.with(:lag_stored) %>
            <canvas id="total-lag-chart" data-datasets="<%= charts %>" class="chartjs" data-label_type="date"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h5 class="mb-3">Utilization metrics</h5>

      <hr class="mb-4"/>

      <ul class="nav nav-tabs" id="myTab2" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="utilization-tab" data-bs-toggle="tab" data-bs-target="#utilization" type="button" role="tab">Utilization</button>
        </li>

        <li class="nav-item" role="presentation">
          <button class="nav-link" id="rss-tab" data-bs-toggle="tab" data-bs-target="#rss" type="button" role="tab">RSS</button>
        </li>

        <li class="nav-item" role="presentation">
          <button class="nav-link" id="processes-tab" data-bs-toggle="tab" data-bs-target="#processes" type="button" role="tab">Processes</button>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane show active" id="utilization" role="tabpanel">
          <div style="height: 250px;" class="mt-4">
            <% charts = @charts.with(:utilization) %>
            <canvas id="utilization-chart" data-datasets="<%= charts %>" class="chartjs" data-label_type="date"></canvas>
          </div>
        </div>

        <div class="tab-pane show" id="rss" role="tabpanel">
          <div style="height: 250px;" class="mt-4">
            <% charts = @charts.with(:rss, :process_rss) %>
            <canvas id="rss-chart" data-datasets="<%= charts %>" class="chartjs" data-label_type="date"></canvas>
          </div>
        </div>

        <div class="tab-pane show" id="processes" role="tabpanel">
          <div style="height: 250px;" class="mt-4">
            <% charts = @charts.with(:processes, :threads, :listeners) %>
            <canvas id="processes-chart" data-datasets="<%= charts %>" class="chartjs" data-label_type="date"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
