<%== partial 'consumers/counters' %>
<%== partial 'dashboard/ranges_selector' %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h5 class="mb-3">Processing metrics</h5>

      <hr class="mb-4"/>

      <ul class="nav nav-tabs" id="graphs1" role="tablist">
        <%== partial 'shared/tab_nav', locals: { title: 'Messages', id: 'messages', active: true } %>
        <%== partial 'shared/tab_nav', locals: { title: 'Batches', id: 'batches' } %>
        <%== partial 'shared/tab_nav', locals: { title: 'Lags stored', id: 'lags-stored' } %>
        <%== partial 'shared/tab_nav', locals: { title: 'Produced', id: 'produced' } %>
      </ul>

      <div class="tab-content">
        <div class="tab-pane show active" id="messages" role="tabpanel">
          <% data = @aggregated_charts.with(:messages, :errors, :dead, :retries, :batch_size) %>
          <%== partial 'shared/chart', locals: { data: data, id: 'messages' } %>
        </div>

        <div class="tab-pane" id="batches" role="tabpanel">
          <% data = @aggregated_charts.with(:batches, :errors, :dead, :retries) %>
          <%== partial 'shared/chart', locals: { data: data, id: 'batches' } %>
        </div>

        <div class="tab-pane" id="lags-stored" role="tabpanel">
          <%== partial 'shared/chart', locals: { data: @topics_charts.lags_stored, id: 'lags-stored' } %>
        </div>

        <div class="tab-pane" id="produced" role="tabpanel">
          <%== partial 'shared/chart', locals: { data: @topics_charts.produced, id: 'produced' } %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h5 class="mb-3">Utilization metrics</h5>

      <hr class="mb-4"/>

      <ul class="nav nav-tabs" id="graphs2" role="tablist">
        <%== partial 'shared/tab_nav', locals: { title: 'Utilization', id: 'utilization', active: true } %>
        <%== partial 'shared/tab_nav', locals: { title: 'RSS', id: 'rss' } %>
        <%== partial 'shared/tab_nav', locals: { title: 'Concurrency', id: 'concurrency' } %>
      </ul>

      <div class="tab-content">
        <div class="tab-pane show active" id="utilization" role="tabpanel">
          <% data = @aggregated_charts.with(:utilization) %>
          <%== partial 'shared/chart', locals: { data: data, id: 'utilization', label_type_y: 'percentage' } %>
        </div>

        <div class="tab-pane show" id="rss" role="tabpanel">
          <% data = @aggregated_charts.with(:rss, :process_rss) %>
          <%== partial 'shared/chart', locals: { data: data, id: 'rss', label_type_y: 'memory' } %>
        </div>

        <div class="tab-pane show" id="concurrency" role="tabpanel">
          <% data = @aggregated_charts.with(:processes, :threads, :listeners) %>
          <%== partial 'shared/chart', locals: { data: data, id: 'concurrency' } %>
        </div>
      </div>
    </div>
  </div>
</div>
