<h2 class="h2 mb-3">
  <%= consumer_group.id %> /
  <%= subscription_group.id %>
</h2>

<div class="card-detail-container">
  <div class="card-detail">
    <div class="card-detail-body">
      State
      <span class="badge badge-sm <%= kafka_state_badge(subscription_group[:state][:state]) %>">
        <%= subscription_group[:state][:state] %>
      </span>
    </div>
  </div>

  <div class="card-detail">
    <div class="card-detail-body">
      Join state

      <span class="badge badge-sm <%= kafka_state_badge(subscription_group.join_state) %>">
        <%= subscription_group.join_state %>
      </span>
    </div>
  </div>

  <div class="card-detail">
    <div class="card-detail-body">
      State change
      <%==
        badge_secondary_sm(
          relative_time(
            Time.at(@process.dispatched_at) - (subscription_group.stateage / 1_000.0)
          )
        )
      %>
    </div>
  </div>

  <div class="card-detail">
    <div class="card-detail-body">
      Last Poll
      <%==
        badge_secondary_sm(
          relative_time(
            Time.at(@process.dispatched_at) - (subscription_group.poll_age / 1_000.0)
          )
        )
      %>
    </div>
  </div>

  <div class="card-detail">
    <div class="card-detail-body">
      Last rebalance
      <%==
        badge_secondary_sm(
          relative_time(
            Time.at(@process.dispatched_at) - (subscription_group.rebalance_age / 1_000.0)
          )
        )
      %>
    </div>
  </div>

  <div class="card-detail">
    <div class="card-detail-body">
      Rebalance count
      <%== badge_secondary_sm(subscription_group.rebalance_cnt) %>
    </div>
  </div>
</div>

<div class="text-right mt-3 mb-4">
  <small>
    Last rebalance reason:

    <% if subscription_group.rebalance_reason.empty? %>
      Unknown
    <% else %>
      <%= subscription_group.rebalance_reason %>
    <% end %>
  </small>
</div>


<% if subscription_group.topics.empty? %>
  <div class="mb-6">
    <%==
      alert_info('This process does not consume any messages from any topics of this subscription group.')
    %>
  </div>
<% else %>
  <% subscription_group.topics.each do |topic| %>
    <div class="data-table-wrapper">
      <table class="data-table">
        <thead>
          <tr>
            <th colspan="10">
              <%= topic.name %>
            </th>
          </tr>
          <tr>
            <th rowspan="2"><%== sort_link('Partition', :id) %></th>
            <th colspan="2">Lag</th>
            <th colspan="2">Offsets</th>
            <th colspan="10">States</th>
          </tr>
          <tr>
            <th><%== sort_link(:lag_hybrid) %></th>
            <th><%== sort_link('Trend', :lag_hybrid_d) %></th>
            <th><%== sort_link(:committed_offset) %></th>
            <th><%== sort_link(:stored_offset) %></th>
            <th><%== sort_link(:fetch_state) %></th>
            <th><%== sort_link(:poll_state) %></th>
            <th><%== sort_link(:lso_risk_state) %></th>
          </tr>
        </thead>
        <tbody>
            <% topic.partitions.each do |partition| %>
              <%==
                partial(
                  'consumers/consumer/partition',
                  locals: {
                    topic: topic,
                    partition: partition,
                    subscription_group: subscription_group
                  }
                )
              %>
            <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
