<tr class="align-middle status-row-<%= details[:process].status %>">
  <td>
    <%= topic_name %>
  </td>
  <td>
    <%= partition_id %>
  </td>
  <td>
    <% if details[:lag_stored].to_i < 0 %>
      <span class="badge bg-secondary" title="Not available until first offset commit">
        N/A
      </span>
    <% else %>
      <%= details[:lag_stored] %>
    <% end %>
  </td>
  <td>
    <span class="badge <%= lag_trend_bg(details[:lag_stored_d]) %>">
      <%= details[:lag_stored_d] %>
    </span>
  </td>
  <td>
    <%= details[:committed_offset] %>
  </td>
  <td>
    <% if details[:stored_offset].to_i < 0 %>
      <span class="badge bg-secondary" title="Not available until first offset commit">
        N/A
      </span>
    <% else %>
      <%= details[:stored_offset] %>
    <% end %>
  </td>
  <td>
    <span class="badge <%= kafka_state_bg(details[:fetch_state]) %> mt-1 mb-1">
      <%= details[:fetch_state] %>
    </span>
  </td>
  <td>
    <span class="badge <%= kafka_state_bg(details[:poll_state]) %> mt-1 mb-1">
      <%= details[:poll_state] %>
    </span>
  </td>
  <td>
    <a href="<%= root_path('consumers', details[:process].id, 'subscriptions') %>">
      <%= details[:process].name %>
    </a>
  </td>
</tr>
