<tr class="align-middle <%= lso_risk_state_bg(details) %> status-row-<%= details.process.status %>">
  <td>
    <%= partition_id %>
  </td>
  <td>
    <%== lag_with_label details.lag_stored %>
  </td>
  <td>
    <span class="badge <%= lag_trend_bg(details.lag_stored_d) %>">
      <%= details.lag_stored_d %>
    </span>
  </td>
  <td>
    <%== offset_with_label topic_name, partition_id, details.committed_offset %>
  </td>
  <td>
    <%== offset_with_label topic_name, partition_id, details.stored_offset %>
  </td>
  <td>
    <span class="badge <%= kafka_state_bg(details.fetch_state) %> mt-1 mb-1">
      <%= details.fetch_state %>
    </span>
  </td>
  <td>
    <span class="badge <%= kafka_state_bg(details.poll_state) %> mt-1 mb-1">
      <%= details.poll_state %>
    </span>
  </td>
  <td>
    <span class="badge bg-success <%= lso_risk_state_bg(details) %> bg-opacity-100">
      <%= details.lso_risk_state %>
    </span>
  </td>
  <td>
    <a href="<%= root_path('consumers', details.process.id, 'subscriptions') %>">
      <%= details.process.name %>
    </a>
  </td>
</tr>
