<%== view_title('Consumers Groups Changes Details') %>

<%== partial 'health/tabs' %>

<% if @stats.empty? %>
  <%== partial 'health/no_data' %>
<% end %>

<% @stats.each_with_index do |(cg_name, details), index| %>
  <div class="container mb-5">
    <%== partial 'health/consumer_group_header', locals: { cg_name: cg_name, details: details } %>

    <div class="row mb-3">
      <div class="col-sm-12">
        <% topics = details[:topics] %>
        <% topics.each_with_index do |(topic_name, partitions), index| %>
          <table class="processes bg-white table table-hover table-bordered table-striped align-middle <%= (index+1 < topics.size) ? 'mb-5' : 'mb-3' %>">
            <thead>
              <tr class="align-middle">
                <th colspan="12">
                  <h5 class="mb-0"><%= topic_name %></h4>
                </th>
              </tr>
              <tr class="align-middle">
                <th><%== sort_link('Partition', :id) %></th>
                <th><%== sort_link('Committed offset change', :committed_offset_fd) %></th>
                <th><%== sort_link('Stored offset change', :stored_offset_fd) %></th>
                <th><%== sort_link('High offset change', :hi_offset_fd) %></th>
                <th><%== sort_link('Last stable offset state', :lso_risk_state) %></th>
                <th><%== sort_link('Pause state change', :poll_state_ch) %></th>
              </tr>
            </thead>
            <tbody>
                <% partitions.each do |partition_id, details| %>
                  <%==
                    partial(
                      'health/partition_times',
                      locals: {
                        topic_name: topic_name,
                        partition_id: partition_id,
                        details: details
                      }
                    )
                  %>
                <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
