<%== view_title('Consumers groups offsets details') %>

<% if @stats.empty? %>
  <%== partial 'health/no_data' %>
<% else %>
  <%== partial 'health/tabs' %>
<% end %>

<% @stats.each_with_index do |(cg_name, details), index| %>
  <div class="container mb-5">
    <div class="row mb-4">
      <div class="col-sm-8">
        <h4 class="mb-4"><%= cg_name %></h4>
      </div>

      <div class="col-sm-4">
        <span class="float-end">
          Last rebalance:
          <span class="badge bg-secondary">
            <%== relative_time(details[:rebalanced_at]) %>
          </span>
        </span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12">
        <% topics = details[:topics].sort_by(&:first) %>
        <% topics.each_with_index do |(topic_name, partitions), index| %>
          <table class="processes bg-white table table-hover table-bordered table-striped align-middle <%= (index+1 < topics.size) ? 'mb-5' : 'mb-3' %>">
            <thead>
              <tr class="align-middle">
                <th colspan="12">
                  <h5 class="mb-0"><%= topic_name %></h4>
                </th>
              </tr>
              <tr class="align-middle">
                <th>Partition</th>
                <th>Lag stored</th>
                <th>Committed offset</th>
                <th>Committed offset change</th>
                <th>Stored offset</th>
                <th>Stored offset change</th>
                <th>Low offset</th>
                <th>High offset</th>
                <th>High offset change</th>
                <th>Last stable offset</th>
                <th>Last stable offset change</th>
                <th>Last stable offset state</th>
              </tr>
            </thead>
            <tbody>
                <% partitions.sort_by(&:first).each do |partition_id, details| %>
                  <%==
                    partial(
                      'health/partition_offset',
                      locals: {
                        topic_name: topic_name,
                        partition_id: partition_id,
                        details: details
                      }
                    )
                  %>
                <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
