<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<% if command_message.is_a?(Array) %>
  <%== partial 'shared/not_a_message' %>
<% else %>
  <% command = command_message.payload %>

  <% if command[:schema_version] == @schema_version %>
    <tr>
      <td>
        <%
          type = command[:type]
          color = 'primary'
          color = 'success' if type == 'result'
          color = 'secondary' if type == 'acceptance'
        %>

        <span class="badge badge-<%= color %>">
          <%= command[:type] %>
        </span>
      </td>

      <td>
        <%
          scope = ::Karafka::Web::Pro::Commanding::Commands
          color = case command[:command][:name]
                  when scope::Consumers::Trace.name
                    'info'
                  when scope::Consumers::Quiet.name
                    'warning'
                  when scope::Consumers::Stop.name
                    'error'
                  when scope::Partitions::Seek.name
                    'primary'
                  when scope::Partitions::Pause.name
                    'warning'
                  when scope::Partitions::Resume.name
                    'warning'
                  else
                    'secondary'
                  end
        %>
        <span class="badge badge-<%= color %>">
          <%= command[:command][:name] %>
        </span>
      </td>

      <td>
        <% if command[:type] == 'request' %>
          <% matchers = command[:matchers] || {} %>
          <% if matchers.empty? %>
            <%== badge_secondary '*' %>
          <% else %>
            <% matchers.each do |key, value| %>
              <% label = "#{key}:#{truncate(value.to_s, length: 20, strategy: :middle)}" %>
              <%== badge_secondary label %>
            <% end %>
          <% end %>
        <% else %>
          <% process_id = command[:process][:id] %>
          <% label = "process_id:#{truncate(process_id, strategy: :middle)}" %>
          <a href="<%= consumer_path(process_id, 'subscriptions') %>">
            <%== badge_secondary label %>
          </a>
        <% end %>
      </td>

      <td>
        <%== relative_time command[:dispatched_at] %>
      </td>

      <td class="options">
        <a href="<%= consumers_path('commands', command_message.offset) %>" class="btn btn-sm btn-primary">
          Details
        </a>
      </td>
    </tr>
  <% else %>
    <tr>
      <td colspan="100" class="text-center text-muted">
       Incompatible command schema. This command message schema does not match the Karafka Web UI schema.
      </td>
    </tr>
  <% end %>
<% end %>
