<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<h2 class="h2">
  Metadata
</h2>

<div class="data-table-wrapper">
  <table class="data-table">
    <tbody>
      <tr>
        <td>Type</td>
        <td><%== command[:type] %></td>
      </tr>

      <tr>
        <td>Name</td>
        <td><%== command[:command][:name] %></td>
      </tr>

      <tr>
        <td>Dispatched</td>
        <td><%== relative_time command[:dispatched_at] %></td>
      </tr>

      <tr>
        <td>Matchers</td>
        <td>
          <% if command[:type] == 'request' %>
            <% matchers = command[:matchers] || {} %>
            <% if matchers.empty? %>
              <%== badge_secondary '*' %>
            <% else %>
              <% matchers.each do |key, value| %>
                <% label = "#{key}:#{value}" %>
                <%== badge_secondary label %>
              <% end %>
            <% end %>
          <% else %>
            <% process_id = command[:process][:id] %>
            <a href="<%= consumer_path(process_id, 'subscriptions') %>">
              <%== badge_secondary "process_id:#{process_id}" %>
            </a>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
