<%
  process_id = command[:process][:id]
%>

<h2 class="h2">
  Metadata
</h2>

<div class="data-table-wrapper">
  <table class="data-table">
    <tbody>
      <tr>
        <td>Type</td>
        <td><%== command[:type] %></td>
      </tr>

      <tr>
        <td>Name</td>
        <td><%== command[:command][:name] %></td>
      </tr>

      <tr>
        <td>Dispatched</td>
        <td><%== relative_time command[:dispatched_at] %></td>
      </tr>
      <tr>
        <td>Process</td>
        <td>
          <% command = command %>
          <% if process_id == '*' %>
              <%= process_id %>
          <% else %>
            <a href="<%= root_path('consumers', process_id, 'subscriptions') %>">
              <%= process_id %>
            </a>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
