<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<% view_title 'Consumers Commands and Responses' %>

<%== partial 'consumers/consumers/tabs' %>

<div class="col-span-12">
  <% if @command_messages && !@command_messages.empty? %>
    <section class="actions">
      <a
        href="<%= root_path('consumers', 'commands', 'recent') %>"
        class="btn-action"
        title="Display the most recent command"
      >
        <%== icon(:play_circle) %>
      </a>
    </section>
  <% end %>

  <% if @command_messages.empty? && params.current_page == 1 %>
    <%== partial 'consumers/commands/empty' %>
  <% else %>
    <%== partial 'consumers/commands/table' %>
  <% end %>
</div>
