<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<% command = @command_message.payload %>

<div class="col-span-12">
  <% if command[:schema_version] == @schema_version %>
    <% view_title "#{command[:command][:name]} #{command[:type]} #{@command_message.key}" %>

    <%== partial 'consumers/consumers/tabs' %>

    <%== partial 'consumers/commands/metadata', locals: { command: command } %>

    <%== partial "consumers/commands/details/#{command[:type]}", locals: { command: command } %>
  <% else %>
    <% view_title 'Incompatible Command Schema' %>

    <%== partial 'consumers/consumers/tabs' %>

    <%== partial 'consumers/commands/incompatible_schema' %>
  <% end %>
</div>
