<tr>
  <td>
    <a href="<%= root_path('consumers', job.process.id, 'subscriptions') %>">
      <%== truncate(job.process.id, strategy: :middle) %>
    </a>
  </td>
  <td>
    <span class="badge badge-secondary" title="Consumer group: <%= job.consumer_group %>">
      <%= job.topic %>:
      <%= job.partition %>
    </span>
  </td>
  <td>
    <code><%= job.consumer %></code>

    <% unless job.tags.empty? %>
      <br/>
      <%== tags(job.tags) %>
    <% end %>
  </td>
  <td>
    <code>#<%= job.type %></code>
  </td>
  <td>
    <%== offset_with_label job.topic, job.partition, job.first_offset %>
  </td>
  <td>
    <%== relative_time job.updated_at %>
  </td>
</tr>
