<div class="tab-container-wrapper">
  <div class="tab-container">
    <a
      href="<%= root_path('jobs', 'running') %>"
      class="custom-tab <%= nav_class(include: 'running') %>"
    >
      Running (<%= @jobs_counters.running %>)
    </a>

    <a
      href="<%= root_path('jobs', 'pending') %>"
      class="custom-tab <%= nav_class(include: 'pending') %>"
    >
      Pending (<%= @jobs_counters.pending %>)
    </a>
  </div>
</div>
