<% view_title 'Pending Jobs' %>

<%== partial 'jobs/tabs' %>

<div class="col-span-12">
  <% if @jobs.empty? && params.current_page <= 1 %>
    <%== partial 'jobs/no_jobs', locals: { type: 'pending' } %>
  <% elsif @jobs.empty? %>
    <%== partial 'shared/no_paginated_data' %>
  <% else %>
    <div class="data-table-wrapper">
      <table class="data-table">
        <thead>
          <tr>
            <th><%== sort_link('Process', :id) %></th>
            <th><%== sort_link(:topic) %></th>
            <th><%== sort_link(:consumer) %></th>
            <th><%== sort_link(:type) %></th>
            <th><%== sort_link(:first_offset) %></th>
            <th><%== sort_link('Created', :updated_at, rev: true) %></th>
          </tr>
        </thead>
        <tbody>
          <%==
            each_partial(
              @jobs,
              'jobs/job'
            )
          %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
