<tr>
  <td>
    <%= subscription_group %>
  </td>
  <td>
    <%= topic.name %>
  </td>
  <td>
    <% if topic.active? %>
      <%== badge_success topic.active? %>
    <% else %>
      <%== badge_secondary topic.active? %>
    <% end %>
  </td>
  <td class="options">
    <%== link_button_primary_sm 'Details', root_path('routing', topic.id) %>
  </td>
</tr>
