<tr>
  <td>
    <%= subscription_group %>
  </td>
  <td>
    <%= topic.name %>
  </td>
  <td>
    <span class="badge badge-<%= topic.active? ? 'success' : 'warning text-dark' %>">
    <%= topic.active? %>
    </span>
  </td>
  <td>
    <%== link_button_primary_sm 'Details', root_path('routing', topic.id) %>
  </td>
</tr>
