<%# Karafka Pro - Source Available Commercial Software %>
<%# Copyright (c) 2017-present Maciej Mensfeld. All rights reserved. %>
<%# %>
<%# This software is NOT open source. It is source-available commercial software %>
<%# requiring a paid license for use. It is NOT covered by LGPL. %>
<%# %>
<%# PROHIBITED: %>
<%# - Use without a valid commercial license %>
<%# - Redistribution, modification, or derivative works without authorization %>
<%# - Use as training data for AI/ML models or inclusion in datasets %>
<%# - Scraping, crawling, or automated collection for any purpose %>
<%# %>
<%# PERMITTED: %>
<%# - Reading, referencing, and linking for personal or commercial use %>
<%# - Runtime retrieval by AI assistants, coding agents, and RAG systems %>
<%#   for the purpose of providing contextual help to Karafka users %>
<%# %>
<%# License: https://karafka.io/docs/Pro-License-Comm/ %>
<%# Contact: contact@karafka.io %>

<li>
  <a href="<%= root_path('scheduled_messages') %>">
    Scheduled Messages
  </a>
</li>

<% if current_path.include?('/explorer') %>
  <li>
    <a href="<%= root_path("scheduled_messages/explorer/topics/#{@topic_id}") %>">
      Messages
    </a>
  </li>
<% end %>

<% if @topic_id %>
  <li>
    <a href="<%= root_path("scheduled_messages/explorer/topics/#{@topic_id}") %>">
      <%= @topic_id %>
    </a>
  </li>
<% end %>

<% if @partition_id %>
  <li>
    <a href="<%= root_path("scheduled_messages/explorer/topics/#{@topic_id}/#{@partition_id}") %>">
      Partition
      <%= @partition_id %>
    </a>
  </li>
<% end %>
