<li>
  <a href="<%= root_path('scheduled_messages') %>">
    Scheduled Messages
  </a>
</li>

<% if current_path.include?('/explorer') %>
  <li>
    <a href="<%= root_path("scheduled_messages/explorer/#{@topic_id}") %>">
      Messages
    </a>
  </li>
<% end %>

<% if @topic_id %>
  <li>
    <a href="<%= root_path("scheduled_messages/explorer/#{@topic_id}") %>">
      <%= @topic_id %>
    </a>
  </li>
<% end %>

<% if @partition_id %>
  <li>
    <a href="<%= root_path("scheduled_messages/explorer/#{@topic_id}/#{@partition_id}") %>">
      Partition
      <%= @partition_id %>
    </a>
  </li>
<% end %>
