<% if @safe_key.failure? %>
  <%==
    partial(
      'explorer/failed_deserialization',
      locals: {
        attribute: 'key',
        error: @safe_key.error
      }
    )
  %>
<% end %>

<% if @safe_headers.failure? %>
  <%==
    partial(
      'explorer/failed_deserialization',
      locals: {
        attribute: 'headers',
        error: @safe_headers.error
      }
    )
  %>
<% end %>

<div class="data-table-wrapper">
  <table class="data-table">
    <tbody>
      <%==
        partial(
          'explorer/messages/key',
          locals: { message: @message }
        )
      %>

      <%==
        partial(
          'explorer/messages/detail',
          locals: {
            k: 'time',
            v: @message.timestamp
          }
        )
      %>

      <%==
        partial(
          'explorer/messages/detail',
          locals: {
            k: 'timestamp',
            v: (@message.timestamp.to_f * 1_000).to_i
          }
        )
      %>

      <% special = %i[received_at timestamp raw_key raw_headers message deserializers] %>
      <% @message.metadata.to_h.except(*special).each do |k, v| %>
        <%==
          partial(
            'explorer/messages/detail',
            locals: {
              k: k,
              v: v
            }
          )
        %>
      <% end %>

      <tr>
        <td>
          deserializers.key
        </td>
        <td>
          <code><%== object_value_to_s @message.metadata.deserializers.key %></code>
        </td>
      </tr>

      <tr>
        <td>
          deserializers.headers
        </td>
        <td>
          <code><%== object_value_to_s @message.metadata.deserializers.headers %></code>
        </td>
      </tr>

      <tr>
        <td>
          deserializers.payload
        </td>
        <td>
          <code><%== object_value_to_s @message.metadata.deserializers.payload %></code>
        </td>
      </tr>

      <%==
        partial(
          'explorer/messages/headers',
          locals: { message: @message }
        )
      %>
    </tbody>
  </table>
</div>
