<% if @visibility_filter.payload?(@message) %>
  <div class="row">
    <div class="col-sm-12 mb-4">
      <% if @safe_payload.failure? %>
        <%==
          partial(
            'explorer/failed_deserialization',
            locals: { attribute: 'payload', error: @safe_payload.error }
          )
        %>
      <% end %>

      <% if @displayable_payload_size > Karafka::Web.config.ui.max_visible_payload_size %>
        <%== partial('explorer/message/too_big_to_be_displayed') %>
      <% else %>
        <div class="card">
          <div class="card-body">
            <% if @safe_payload.failure? %>
              <pre class="m-0 p-0"><code class="wrapped json p-0 m-0"><%= @message.raw_payload %></code></pre>
            <% else %>
              <pre class="m-0 p-0"><code class="wrapped json p-0 m-0"><%= @safe_payload.result %></code></pre>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <%== partial 'explorer/filtered' %>
<% end %>
