<div class="data-table-wrapper">
  <table class="data-table">
    <tbody>
      <% bytesize = @message.raw_payload&.bytesize || 0 %>

      <%==
        partial(
          'explorer/messages/detail',
          locals: {
            k: 'payload.bytesize',
            v: format_memory((bytesize / 1024.to_f).round(4))
          }
        )
      %>

      <tr>
        <td>
          payload.memsize
        </td>
        <td>
          <% if @memsize_available %>
            <%= format_memory((@displayable_payload_size / 1024.to_f).round(4)) %>

            <% if bytesize.positive? %>
              (<%== (@displayable_payload_size.to_f / bytesize).round(2) %>x)
            <% end %>
          <% else %>
            Not Available
          <% end %>
        </td>
      </tr>

      <tr>
        <td>
          payload.cpu_time
        </td>
        <td>
          <%== @safe_payload.cpu_time.round(4) %> ms
        </td>
      </tr>

      <tr>
        <td>
          payload.total_time
        </td>
        <td>
          <%== @safe_payload.total_time.round(4) %> ms
        </td>
      </tr>
    </tbody>
  </table>
</div>
