<% if v.is_a?(Hash) %>
  <% v.each do |k2, v2| %>
    <tr>
      <td>
        <%= "#{k}.#{k2}" %>
      </td>
      <td>
        <% if k2.to_s.include?('ssl') %>
          ***
        <% elsif k2.to_s == 'tags' %>
          <%== tags(v2) %>
        <% else %>
          <%= v2 %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td>
      <%= k %>
    </td>
    <td>
      <% if k == :occurred_at %>
        <%== relative_time v %>
      <% else %>
        <%= v %>
      <% end %>
    </td>
  </tr>
<% end %>
