<% if error_msg.is_a?(Integer) %>
  <tr>
    <td colspan="5" class="text-center text-muted">
      This error has either been removed or compacted and is no longer available.
    </td>
  </tr>
<% else %>
  <% error = error_msg.payload %>

  <tr>
    <td>
      <% if error[:details].key?(:topic) %>
        <%= error[:details][:topic] %>: <%= error[:details][:partition] %>
      <% else %>
        <%= error[:type] %>
      <% end %>
    </td>
    <td>
      <%== error[:process][:name] %>
    </td>
    <td>
      <%= error[:error_class] %>:
      <%= error[:error_message].first(200) %>
    </td>
    <td>
      <%== relative_time error[:occurred_at] %>
    </td>
    <td class="text-center">
      <a href="<%= root_path('errors', error_msg.partition, error_msg.offset) %>" class="btn btn-sm btn-secondary text-white">
        Details
      </a>
    </td>
  </tr>
<% end %>
