<%== partial('errors/title_with_select') %>

<div class="container">
  <div class="row mb-5">
    <div class="col-sm-12">
      <%== partial('explorer/partition/watermark_offsets') %>

      <% if @watermark_offsets.empty? %>
        <%== partial 'errors/no_errors' %>
      <% elsif @watermark_offsets.cleaned? %>
        <%== partial 'errors/cleaned' %>
      <% else %>
        <%== partial 'errors/table' %>
      <% end %>
    </div>
  </div>
</div>
