<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<%
  feature_class = 'btn-disabled'
  feature_class = '' if features.commanding?
%>

<a
  href="<%= consumer_path(process.id, 'partitions', subscription_group_id, topic_name, partition.id, 'offset', 'edit') %>"
  class="btn btn-info btn-sm <%= feature_class %>"
  title="Edit the offset position for this topic partition"
>
  <%== icon(:pencil_square) %>
</a>

<% if partition.poll_state != 'active' %>
  <a
    href="<%= consumer_path(process.id, 'partitions', subscription_group_id, topic_name, partition.id, 'pause', 'edit') %>"
    class="btn btn-success btn-sm <%= feature_class %>"
    title="Resume processing of this topic partition"
  >
    <%== icon(:play) %>
  </a>
<% end %>

<a
  href="<%= consumer_path(process.id, 'partitions', subscription_group_id, topic_name, partition.id, 'pause', 'new') %>"
  class="btn btn-warning btn-sm <%= feature_class %>"
  title="Setup or configure pause duration for this topic partition"
>
  <%== icon(:pause) %>
</a>
