<div class="tab-container-wrapper">
  <div class="tab-container">
    <a
      href="<%= root_path('consumers', @process.id, 'subscriptions') %>"
      class="custom-tab <%= nav_class(include: 'subscriptions') %>"
    >
      Subscriptions (<%= @process.subscribed_partitions_count %>)
    </a>

    <a
      href="<%= root_path('consumers', @process.id, 'jobs', 'running') %>"
      class="custom-tab <%= nav_class(include: 'jobs/running') %>"
    >
      Running jobs (<%= @process.jobs.running.count %>)
    </a>

    <a
      href="<%= root_path('consumers', @process.id, 'jobs', 'pending') %>"
      class="custom-tab <%= nav_class(include: 'jobs/pending') %>"
    >
      Pending jobs (<%= @process.jobs.pending.count %>)
    </a>

    <a
      href="<%= root_path('consumers', @process.id, 'details') %>"
      class="custom-tab <%= nav_class(include: 'details') %>"
    >
      Details
    </a>
  </div>
</div>
