<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<div class="tab-container-wrapper">
  <div class="tab-container">
    <a
      href="<%= consumer_path(@process.id, 'subscriptions') %>"
      class="custom-tab <%= nav_class(include: 'subscriptions') %>"
    >
      Subscriptions (<%= @process.subscribed_partitions_count %>)
    </a>

    <a
      href="<%= consumer_path(@process.id, 'jobs', 'running') %>"
      class="custom-tab <%= nav_class(include: 'jobs/running') %>"
    >
      Running jobs (<%= @process.jobs.running.count %>)
    </a>

    <a
      href="<%= consumer_path(@process.id, 'jobs', 'pending') %>"
      class="custom-tab <%= nav_class(include: 'jobs/pending') %>"
    >
      Pending jobs (<%= @process.jobs.pending.count %>)
    </a>

    <a
      href="<%= consumer_path(@process.id, 'details') %>"
      class="custom-tab <%= nav_class(include: 'details') %>"
    >
      Details
    </a>
  </div>
</div>
