<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Karafka application dashboard">
  <meta name="author" content="Maciej Mensfeld">
  <meta name="turbo-cache-control" content="no-cache">
  <meta name="turbo-prefetch" content="false">

  <title>Karafka Web UI</title>

  <link
    rel="stylesheet"
    href="<%= asset_path('stylesheets/libs/highlight_light.min.css') %>"
    class="highlight-light"
    disabled
>

  <link
    rel="stylesheet"
    href="<%= asset_path('stylesheets/libs/highlight_dark.min.css') %>"
    class="highlight-dark"
    disabled
>

  <link
    rel="stylesheet"
    href="<%= asset_path('stylesheets/application.min.css') %>"
  >

  <% if Karafka::Web.config.ui.custom.css %>
    <link
      rel="stylesheet"
      href="<%= asset_path('stylesheets/custom.css') %>"
>
  <% end %>

  <script
    type="text/javascript"
    src="<%= asset_path('javascripts/application.min.js') %>"
  >
  </script>

  <% if Karafka::Web.config.ui.custom.js %>
    <script
      type="text/javascript"
      src="<%= asset_path('javascripts/custom.js') %>"
    >
    </script>
  <% end %>

  <link rel="icon" href="<%= asset_path('images/favicon.ico') %>">
</head>
