<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Karafka application dashboard">
  <meta name="author" content="Maciej Mensfeld">

  <title>Karafka</title>

  <link href="<%= asset_path('stylesheets/bootstrap.min.css') %>" rel="stylesheet">
  <link href="<%= asset_path('stylesheets/highlight.min.css') %>" rel="stylesheet">
  <link href="<%= asset_path('stylesheets/datepicker.min.css') %>" rel="stylesheet">
  <link href="<%= asset_path('stylesheets/application.css') %>" rel="stylesheet">

  <script type="module" src="<%= asset_path('javascripts/chart.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/timeago.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/bootstrap.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/highlight.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/live_poll.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/tabs.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/charts.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/datepicker.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/offset_datetime.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/application.js') %>"></script>

  <link rel="icon" href="<%= asset_path('images/favicon.ico') %>">
</head>
