<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Karafka application dashboard">
  <meta name="author" content="Maciej Mensfeld">

  <title>Karafka Web UI</title>

  <link href="<%= asset_path('stylesheets/libs/bootstrap.min.css') %>" rel="stylesheet">
  <link href="<%= asset_path('stylesheets/libs/highlight.min.css') %>" rel="stylesheet">
  <link href="<%= asset_path('stylesheets/libs/datepicker.min.css') %>" rel="stylesheet">

  <link href="<%= asset_path('stylesheets/application.css') %>" rel="stylesheet">

  <script type="text/javascript" src="<%= asset_path('javascripts/libs/chart.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/libs/timeago.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/libs/bootstrap.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/libs/highlight.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/libs/datepicker.js') %>"></script>

  <script type="text/javascript" src="<%= asset_path('javascripts/live_poll.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/tabs_manager.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/charts/dataset_state_manager.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/charts/data_formatting_utility.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/charts/types/line.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/charts/types/bar.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/charts.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/offset_datetime.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('javascripts/application.js') %>"></script>

  <link rel="icon" href="<%= asset_path('images/favicon.ico') %>">
</head>
