<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Karafka application dashboard">
  <meta name="author" content="Maciej Mensfeld">
  <meta name="turbo-cache-control" content="no-cache">
  <meta name="turbo-prefetch" content="false">

  <title>Karafka Web UI</title>

  <link
    rel="stylesheet"
    href="<%= asset_path('stylesheets/libs/highlight_light.min.css') %>"
    class="highlight-light"
    disabled="disabled"
  />

  <link
    rel="stylesheet"
    href="<%= asset_path('stylesheets/libs/highlight_dark.min.css') %>"
    class="highlight-dark"
    disabled="disabled"
  />

  <link href="<%= asset_path('stylesheets/application.min.css') %>" rel="stylesheet">
  <script type="text/javascript" src="<%= asset_path('javascripts/application.min.js') %>"></script>

  <link rel="icon" href="<%= asset_path('images/favicon.ico') %>">
</head>
