<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Karafka application dashboard">
  <meta name="author" content="Maciej Mensfeld">

  <title>Karafka</title>

  <script type="text/javascript" src="<%= root_path('javascripts/timeago.min.js') %>"></script>
  <script type="text/javascript" src="<%= root_path('javascripts/bootstrap.min.js') %>"></script>
  <script type="text/javascript" src="<%= root_path('javascripts/highlight.min.js') %>"></script>
  <script type="text/javascript" src="<%= root_path('javascripts/live_poll.js') %>"></script>
  <script type="text/javascript" src="<%= root_path('javascripts/application.js') %>"></script>

  <link href="<%= root_path('stylesheets/bootstrap.min.css') %>" rel="stylesheet">
  <link href="<%= root_path('stylesheets/highlight.min.css') %>" rel="stylesheet">
  <link href="<%= root_path('stylesheets/application.css') %>" rel="stylesheet">

  <link rel="icon" href="<%= root_path('images/favicon.ico') %>">
</head>
