<nav class="sidebar-nav">
  <%== partial 'shared/brand' %>

  <ul class="menu">
    <li>
      <a
        class="sidebar-nav-item <%= nav_class(start_with: '/dashboard') %>"
        href="<%= root_path('dashboard') %>"
      >
        <%== icon(:home) %>
        Dashboard
      </a>
    </li>

    <li>
      <a
        class="sidebar-nav-item <%= nav_class(match: /\A\/(consumers|commands)/) %>"
        href="<%= root_path('consumers') %>"
      >
        <%== icon(:cpu) %>
        Consumers
      </a>
    </li>

    <li>
      <a
        class="sidebar-nav-item <%= nav_class(start_with: '/jobs') %>"
        href="<%= root_path('jobs/running') %>"
      >
        <%== icon(:arrow_on_squares) %>
        Jobs
      </a>
    </li>

    <li>
      <a
        class="sidebar-nav-item disabled"
        href="<%= root_path('health/overview') %>"
        title="Pro Feature"
      >
        <%== icon(:heart) %>
        Health
      </a>
    </li>

    <li>
      <a
        class="sidebar-nav-item <%= nav_class(start_with: '/routing') %>"
        href="<%= root_path('routing') %>"
      >
        <%== icon(:queue_list) %>
        Routing
      </a>
    </li>

    <li>
      <a
        class="sidebar-nav-item disabled <%= nav_class(start_with: '/explorer') %>"
        href="<%= root_path('explorer') %>"
        title="Pro Feature"
      >
        <%== icon(:document_glass) %>
        Explorer
      </a>
    </li>

    <li>
      <a
        class="sidebar-nav-item disabled <%= nav_class(start_with: '/recurring_tasks') %>"
        href="<%= root_path('recurring_tasks') %>"
        title="Pro Feature"
      >
        <%== icon(:arrow_path_rounded) %>
        Cron
      </a>
    </li>

    <li>
      <a
        class="sidebar-nav-item <%= nav_class(start_with: '/errors') %>"
        href="<%= root_path('errors') %>"
      >
        <%== icon(:bug) %>
        Errors
      </a>
    </li>

    <li>
      <a
        class="sidebar-nav-item disabled <%= nav_class(start_with: '/dlq') %>"
        href="<%= root_path('dlq') %>"
        title="Pro Feature"
      >
        <%== icon(:x_circle) %>
        Dead
      </a>
    </li>

    <li>
      <a
        class="sidebar-nav-item <%= nav_class(start_with: '/cluster') %>"
        href="<%= root_path('cluster') %>"
      >
        <%== icon(:blocks) %>
        Cluster
      </a>
    </li>

    <li>
      <a
        class="sidebar-nav-item disabled <%= nav_class(start_with: '/topics') %>"
        href="<%= root_path('topics') %>"
        title="Pro Feature"
      >
        <%== icon(:list_bullets) %>
        Topics
      </a>
    </li>

    <li>
      <a
        class="sidebar-nav-item <%= nav_class(start_with: '/status') %>"
        href="<%= root_path('status') %>"
      >
        <%== icon(:check_badge) %>
        Status
      </a>
    </li>

    <li>
      <a
        class="sidebar-nav-item <%= nav_class(start_with: '/support') %>"
        href="<%= root_path('support') %>"
      >
        <%== icon(:lifebuoy) %>
        Support
      </a>
    </li>
  </ul>
</nav>
