<nav class="sidebar-nav">
  <%== partial 'shared/brand' %>

  <ul class="menu menu-md grow w-auto">
    <li>
      <a
        class="sidebar-nav-item menu-<%= nav_class(start_with: '/dashboard') %>"
        href="<%= root_path('dashboard') %>"
      >
        <%== icon(:home) %>
        <span class="sidebar-nav-item-label">Dashboard</span>
      </a>
    </li>

    <li>
      <a
        class="sidebar-nav-item menu-<%= nav_class(match: /\A\/(consumers|commands)/) %>"
        href="<%= consumers_path %>"
      >
        <%== icon(:cpu) %>
        <span class="sidebar-nav-item-label">Consumers</span>
      </a>
    </li>

    <li>
      <a
        class="sidebar-nav-item menu-<%= nav_class(start_with: '/jobs') %>"
        href="<%= root_path('jobs/running') %>"
      >
        <%== icon(:arrow_on_squares) %>
        <span class="sidebar-nav-item-label">Jobs</span>
      </a>
    </li>

    <%== partial 'shared/gated_nav_item', locals: { icon_name: :heart, label: 'Health' } %>

    <li>
      <a
        class="sidebar-nav-item menu-<%= nav_class(start_with: '/routing') %>"
        href="<%= root_path('routing') %>"
      >
        <%== icon(:queue_list) %>
        <span class="sidebar-nav-item-label">Routing</span>
      </a>
    </li>

    <%== partial 'shared/gated_nav_item', locals: { icon_name: :document_glass, label: 'Explorer' } %>

    <%== partial 'shared/gated_nav_item', locals: { icon_name: :arrow_path_rounded, label: 'Cron' } %>

    <%== partial 'shared/gated_nav_item', locals: { icon_name: :calendar, label: 'Schedules' } %>

    <li>
      <a
        class="sidebar-nav-item menu-<%= nav_class(start_with: '/errors') %>"
        href="<%= root_path('errors') %>"
      >
        <%== icon(:bug) %>
        <span class="sidebar-nav-item-label">Errors</span>
      </a>
    </li>

    <%== partial 'shared/gated_nav_item', locals: { icon_name: :x_circle, label: 'Dead' } %>

    <li>
      <a
        class="sidebar-nav-item menu-<%= nav_class(start_with: '/cluster') %>"
        href="<%= root_path('cluster') %>"
      >
        <%== icon(:blocks) %>
        <span class="sidebar-nav-item-label">Cluster</span>
      </a>
    </li>

    <%== partial 'shared/gated_nav_item', locals: { icon_name: :list_bullets, label: 'Topics' } %>

    <li>
      <a
        class="sidebar-nav-item menu-<%= nav_class(start_with: '/status') %>"
        href="<%= root_path('status') %>"
      >
        <%== icon(:check_badge) %>
        <span class="sidebar-nav-item-label">Status</span>
      </a>
    </li>

    <li>
      <a
        class="sidebar-nav-item menu-<%= nav_class(start_with: '/support') %>"
        href="<%= root_path('support') %>"
      >
        <%== icon(:lifebuoy) %>
        <span class="sidebar-nav-item-label">Support</span>
      </a>
    </li>

    <%== partial 'shared/custom_nav' %>
  </ul>

  <button type="button" class="btn-toggle-nav-collapsed grid gap-2 grid-flow-col items-center justify-start ml-6 text-sm invisible lg:visible" data-toggle-target="drawer-side">
    <%== icon(:chevron) %>
  </button>
</nav>
