<% active ||= false %>
<% disabled ||= false %>

<% if disabled %>
  <button
    type="button"
    class="custom-tab disabled cursor-default"
    id="<%= id %>-tab"
    data-target="<%= id %>"
    title="Available in Karafka Pro"
    disabled
  >
    <%= title %>
  </button>
<% else %>
  <span class="custom-tab <%= 'active' if active %>" id="<%= id %>-tab" data-target="<%= id %>">
    <%= title %>
  </span>
<% end %>
