<% topic = partition[:topic] %>

<tr>
  <td>
    <%= topic[:topic_name] %>
  </td>
  <td>
    <%= partition[:partition_id] %>
  </td>
  <td>
    <%= partition[:leader] %>
  </td>
  <td>
    <%= partition[:replica_count] %>
  </td>
  <td>
    <%= partition[:in_sync_replica_brokers] %>
  </td>
</tr>
