<% topic = partition[:topic] %>

<tr>
  <td>
    <% if Karafka.pro? %>
      <a href="<%= explorer_topics_path(topic[:topic_name]) %>">
        <%= topic[:topic_name] %>
      </a>
    <% else %>
      <%= topic[:topic_name] %>
    <% end %>
  </td>
  <td>
    <% if Karafka.pro? %>
      <a href="<%= explorer_topics_path(topic[:topic_name], partition[:partition_id]) %>">
        <%= partition[:partition_id] %>
      </a>
    <% else %>
      <%= partition[:partition_id] %>
    <% end %>
  </td>
  <td>
    <%= partition[:leader] %>
  </td>
  <td>
    <%= partition[:replica_count] %>
  </td>
  <td>
    <%= partition[:in_sync_replica_brokers] %>
  </td>
</tr>
