<% view_title 'Cluster Informations' %>

<%== partial 'cluster/tabs' %>

<div class="col-span-12 mb-3">
  <% if @partitions.empty? && params.current_page <= 1 %>
    <%== partial 'cluster/no_partitions' %>
  <% elsif @partitions.empty? %>
    <%== partial 'shared/no_paginated_data' %>
  <% else %>
    <div class="data-table-wraper">
      <table class="data-table">
        <thead>
          <tr>
            <th><%== sort_link(:topic_name) %></th>
            <th><%== sort_link(:partition_id) %></th>
            <th><%== sort_link(:leader) %></th>
            <th><%== sort_link(:replica_count) %></th>
            <th><%== sort_link('In sync brokers', :in_sync_replica_brokers) %></th>
          </tr>
        </thead>
        <tbody>
          <%==
            each_partial(
              @partitions,
              'cluster/partition'
            )
          %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
