<li>
  <a href="<%= root_path('explorer') %>">
    Explorer
  </a>
</li>

<% if @topic_id %>
  <li>
    <a href="<%= explorer_path(@topic_id) %>">
      <%= @topic_id %>
    </a>
  </li>
<% end %>

<% if @partition_id %>
  <li>
    <a href="<%= explorer_path(@topic_id, @partition_id) %>">
      Partition <%= @partition_id %>
    </a>
  </li>
<% end %>

<% if @offset %>
  <% mapped_offset = @offset == -1 ? 'Recent' : @offset %>

  <li class="breadcrumb-item active">
    <a href="<%= explorer_path(@topic_id, @partition_id, mapped_offset) %>">
      <%= mapped_offset %>
    </a>
  </li>
<% end %>

<% if current_path.include?("#{@topic_id}/search") %>
  <li>
    <a href="<%= explorer_path(@topic_id, 'search') %>">
      Search
    </a>
  </li>
<% end %>
