<% view_title "Message with offset #{@message.offset} from partition #{@message.partition}" %>

<%
  republish_path = root_path('messages', @message.topic, @message.partition, @message.offset, 'republish')
  surrounding_path = explorer_path(@message.topic, @message.partition, @message.offset, 'surrounding')
%>

<div class="col-span-12">
  <section class="actions">
    <% if @visibility_filter.republish?(@message) %>
      <form action="<%= republish_path %>" method="post" class="confirm-action float-end">
        <%== csrf_tag(republish_path) %>
        <button
          type="submit"
          class="btn-action"
          title="Republish this message to the same topic partition"
          data-turbo="false"
        >
          <%== icon(:arrow_path_rounded) %>
        </button>
      </form>
    <% end %>

    <a
      href="<%= surrounding_path %>"
      class="btn-action"
      title="Go to this message surrounding position"
    >
      <%== icon(:arrows_right_left) %>
    </a>


    <% if @visibility_filter.download?(@message) %>
      <a
        href="<%= root_path('messages', @message.topic, @message.partition, @message.offset, 'download') %>"
        class="btn-action"
        title="Download raw payload"
        data-turbo="false"
      >
        <%== icon(:arrow_down_tray) %>
      </a>
    <% end %>

    <% if @visibility_filter.export?(@message) && @safe_payload.success? %>
      <a
        href="<%= root_path('messages', @message.topic, @message.partition, @message.offset, 'export') %>"
        class="btn-action"
        title="Export as JSON"
        data-turbo="false"
      >
        <%== icon(:arrow_down_on_square) %>
      </a>
    <% end %>

    <button
      class="btn-action btn-toggle"
      title="Show the message metadata details"
      id="metadata-button"
      data-toggle-target="metadata-details"
    >
      <%== icon(:circle_stack) %>
    </button>

    <button
      class="btn-action btn-toggle"
      title="Show the message utilization details"
      id="utilization-button"
      data-toggle-target="utilization-details"
    >
      <%== icon(:cpu) %>
    </button>
  </section>
</div>

<div class="col-span-12 mb-6">
  <div id="utilization-details" class="hidden">
    <h2 class="h2">
      Utilization
    </h2>

    <%== partial 'explorer/message/resources_utilization' %>
  </div>

  <div id="metadata-details">
    <h2 class="h2">
      Metadata
    </h2>

    <%== partial 'explorer/message/metadata' %>
  </div>

  <h2 class="h2">
    Payload
  </h2>

  <%== partial 'explorer/message/payload' %>
</div>
