<div class="col-span-4">
  <section class="actions">
    <% if @messages && !@messages.empty? %>
      <a
        href="<%= explorer_path(@topic_id, 'recent') %>"
        class="btn-action"
        title="Display the most recent message for this topic with auto-refresh"
      >
        <%== icon(:play_circle) %>
      </a>

      <a
        href="<%= explorer_path(@topic_id, 'search') %>"
        class="btn-action"
        title="Search in this topic"
      >
        <%== icon(:magnifying_glass) %>
      </a>
    <% end %>
  </section>
</div>

<div class="col-span-8 mb-3">
  <section class="actions">
    <%== partial 'explorer/selector' %>
  </section>
</div>
