<% view_title 'Dashboard' %>

<%== partial 'dashboard/counters' %>

<% if @aggregated.sufficient? %>
  <%== partial 'dashboard/ranges_selector' %>

  <h2 class="h2">Processing Metrics</h2>

  <div class="tab-container-wrapper" id="graphs1">
    <div class="tab-container inline-tabs">
      <%== partial 'shared/tab_nav', locals: { title: 'Consumed', id: 'consumed', active: true } %>
      <%== partial 'shared/tab_nav', locals: { title: 'Batches', id: 'batches' } %>
      <%== partial 'shared/tab_nav', locals: { title: 'Lags', id: 'lags' } %>
      <%== partial 'shared/tab_nav', locals: { title: 'Max LSO', id: 'max-lso' } %>
      <%== partial 'shared/tab_nav', locals: { title: 'Pace', id: 'pace' } %>
    </div>
  </div>

  <div class="col-span-12">
    <div id="consumed" class="hidden">
      <% data = @aggregated_charts.with(:messages, :errors, :dead, :retries, :batch_size) %>
      <%== partial 'shared/charts/line', locals: { data: data, id: 'consumed' } %>
    </div>

    <div id="batches" class="hidden">
      <% data = @aggregated_charts.with(:batches, :jobs, :errors, :dead, :retries) %>
      <%== partial 'shared/charts/line', locals: { data: data, id: 'batches' } %>
    </div>

    <div id="lags" class="hidden">
      <%== partial 'shared/charts/line', locals: { data: @topics_charts.lags_hybrid, id: 'lags' } %>
    </div>

    <div id="max-lso" class="hidden">
      <%== partial 'shared/charts/line', locals: { data: @topics_charts.max_lso, id: 'max-lso' } %>
    </div>

    <div id="pace" class="hidden">
      <%== partial 'shared/charts/line', locals: { data: @topics_charts.pace, id: 'pace' } %>
    </div>
  </div>

  <h2 class="h2">Utilization Metrics</h2>

  <div class="tab-container-wrapper" id="graphs2">
    <div class="tab-container inline-tabs">
      <%== partial 'shared/tab_nav', locals: { title: 'Utilization', id: 'utilization', active: true } %>
      <%== partial 'shared/tab_nav', locals: { title: 'RSS', id: 'rss' } %>
      <%== partial 'shared/tab_nav', locals: { title: 'Concurrency', id: 'concurrency' } %>
      <%== partial 'shared/tab_nav', locals: { title: 'Data transfers', id: 'data-transfers' } %>
    </div>
  </div>

  <div class="col-span-12">
    <div id="utilization" class="hidden">
      <% data = @aggregated_charts.with(:utilization) %>
      <%== partial 'shared/charts/line', locals: { data: data, id: 'utilization', label_type_y: 'percentage' } %>
    </div>

    <div id="rss" class="hidden">
      <% data = @aggregated_charts.with(:rss, :process_rss) %>
      <%== partial 'shared/charts/line', locals: { data: data, id: 'rss', label_type_y: 'memory' } %>
    </div>

    <div id="concurrency" class="hidden">
      <% data = @aggregated_charts.with(:processes, :workers, :active_listeners, :standby_listeners) %>
      <%== partial 'shared/charts/line', locals: { data: data, id: 'concurrency' } %>
    </div>

    <div id="data-transfers" class="hidden">
      <% data = @aggregated_charts.data_transfers %>
      <%== partial 'shared/charts/line', locals: { data: data, id: 'data-transfers', label_type_y: 'memory' } %>
    </div>
  </div>

<% else %>
  <%== partial 'dashboard/not_enough_data' %>
<% end %>
