<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<li>
  <a href="<%= consumers_path('overview') %>">
    Consumers
  </a>
</li>

<% if current_path.include?('/overview') %>
  <li>
    <a href="<%= consumers_path('overview') %>">
      Overview
    </a>
  </li>
<% end %>

<% if current_path.include?('/performance') %>
  <li>
    <a href="<%= consumers_path('performance') %>">
      Performance
    </a>
  </li>
<% end %>

<% if @process %>
  <li>
    <a href="<%= consumer_path(@process.id, 'subscriptions') %>">
      <%== truncate(@process.id, strategy: :middle) %>
    </a>
  </li>

  <% if current_path.include?('/subscriptions') %>
    <li>
      <a href="<%= consumer_path(@process.id, 'subscriptions') %>">
        Subscriptions
      </a>
    </li>
  <% else %>
    <li>
      <a href="<%= consumer_path(@process.id, 'details') %>">
        Details
      </a>
    </li>
  <% end %>
<% end %>
