<tr class="status-row-<%= process.status %>">
  <td>
    <p>
      <a href="<%= root_path('consumers', process.id, 'subscriptions') %>">
        <%== truncate(process.id, strategy: :middle) %>
      </a>
    </p>

    <p class="mt-1">
      <%== partial 'consumers/assignments_badges', locals: { process: process } %>
    </p>

    <p>
      <%== tags(process.tags) %>
    </p>
  </td>

  <td>
    <%== relative_time process.started_at %>
  </td>

  <td>
    <%== badge_primary_sm format_memory process.memory_usage %>
    <%== badge_primary_sm format_memory process.memory_total_usage %>
    <%== badge_primary_sm format_memory process.memory_size %>
  </td>

  <td>
    <span class="badge badge-primary">
      <%= process.utilization.round(1) %>%
    </span>
    <span class="badge badge-primary">
      <%= process.workers %> /
      <%= process.busy %>
    </span>
  </td>

  <td>
    <% process.cpu_usage.each do |metric| %>
      <%== badge_primary_sm metric %>
    <% end %>
  </td>

  <td>
    <%= process.lag_hybrid %>
  </td>
</tr>
