<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<div class="tab-container-wrapper">
  <div class="tab-container">
    <a
      href="<%= consumers_path('overview') %>"
      class="custom-tab <%= nav_class(include: 'overview') %>"
    >
      Overview
    </a>

    <a
      href="<%= consumers_path('performance') %>"
      class="custom-tab <%= nav_class(include: 'performance') %>"
    >
      Performance
    </a>

    <%
      disabled = 'disabled btn-disabled'
      disabled = '' if features.commanding?
    %>
    <a
      href="<%= consumers_path('controls') %>"
      class="custom-tab <%= nav_class(include: 'controls') %> <%= disabled %>"
    >
      Controls
    </a>

    <a
      href="<%= consumers_path('commands') %>"
      class="custom-tab <%= nav_class(include: 'commands') %> <%= disabled %>"
    >
      Commands
    </a>
  </div>
</div>
