<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<div class="tab-container-wrapper">
  <div class="tab-container">
    <a
      href="<%= consumers_path('overview') %>"
      class="custom-tab <%= nav_class(include: 'overview') %>"
    >
      Overview
    </a>

    <a
      href="<%= consumers_path('performance') %>"
      class="custom-tab <%= nav_class(include: 'performance') %>"
    >
      Performance
    </a>

    <% if Karafka::Web.config.commanding.active %>
      <a
        href="<%= consumers_path('controls') %>"
        class="custom-tab <%= nav_class(include: 'controls') %>"
      >
        Controls
      </a>

      <a
        href="<%= consumers_path('commands') %>"
        class="custom-tab <%= nav_class(include: 'commands') %>"
      >
        Commands
      </a>
    <% end %>
  </div>
</div>
