<% view_title "#{@process.id} - Offset Adjustment - #{@subscription_group_id} - #{@topic}##{@partition_id}" %>

<% if @process.status != 'running' %>
  <%== partial 'consumers/partitions/offsets/not_running_error' %>
<% else %>
  <%== partial 'consumers/partitions/offsets/running_warning' %>
  <%== partial 'consumers/partitions/offsets/basics' %>
<% end %>

<div class="card bg-base-100 mt-4">
  <div class="card-body">
    <%
      update_path = consumer_path(
        @process.id,
        'partitions',
        @subscription_group.id,
        @topic,
        @partition_id,
        'offset'
      )
    %>

    <form
      class="space-y-4 mt-4 w-full"
      method="post"
      action="<%= update_path %>"
    >
      <%== csrf_tag(update_path, 'PUT') %>
      <input type="hidden" name="_method" value="PUT">

      <div class="flex items-center w-full mb-8">
        <label class="w-1/4 text-gray-700">New Offset:</label>
        <div class="w-3/4">
          <input
            type="number"
            min="<%== @partition_stats.lo_offset %>"
            max="<%= @partition_stats.hi_offset %>"
            name="offset"
            class="block input input-bordered w-full"
            placeholder="Enter new offset position"
            required
          />
        </div>
      </div>

      <div class="flex items-center w-full">
        <label class="w-1/4 text-gray-700">Prevent Overtaking:</label>
        <div class="w-3/4">
          <label class="flex items-center gap-4 cursor-pointer">
            <input type="hidden" name="prevent_overtaking" value="off">

            <input
              name="prevent_overtaking"
              type="checkbox"
              class="checkbox checkbox-warning"
              checked
            />

            <div class="space-y-1">
              <div class="flex items-center gap-2">
                Only adjust if consumer hasn't moved beyond requested offset already
              </div>
              <div class="text-sm text-gray-500">
                Prevents seeking back in case the consumer moved forward
              </div>
            </div>
          </label>
        </div>
      </div>

      <div class="flex items-center w-full mt-4 <%= 'text-muted' if @topic_lrj %>">
        <label class="w-1/4 text-gray-700">Resume Immediately:</label>
        <div class="w-3/4">
          <label class="flex items-center gap-4 cursor-pointer">
            <input type="hidden" name="force_unpause" value="off">
            <input
              name="force_unpause"
              type="checkbox"
              class="checkbox checkbox-warning"
              <%= 'disabled' if @topic_lrj %>
            />
            <div class="space-y-1">
              <div class="flex items-center gap-2">
                If partition is currently paused, resume processing immediately
              </div>
              <div class="text-sm text-gray-500">
                <% if @topic_lrj %>
                  Option not available for Long-Running Jobs topics
                <% elsif @routing_topic %>
                  Has no effect if partition is not paused
                <% else %>
                  Option not available, since topic not visible in the Web UI routing
                <% end %>
              </div>
            </div>
          </label>
        </div>
      </div>

      <div class="form-control text-center mt-6 ">
        <div class="flex gap-4 justify-end">
          <a href="<%= consumer_path(@process.id, 'partitions', @subscription_group.id, @topic, @partition_id, 'offsets') %>" class="btn btn-ghost">
            Cancel
          </a>

          <button type="submit" class="btn btn-warning gap-2 btn-lockable">
            <%== icon(:arrow_up_tray) %>
            Adjust Offset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
