<div class="container mb-5">
  <div class="row" id="metrics">
    <div class="col-lg-12">
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Process</h5>
            <p class="card-text">
            <ul style="list-style: square !important;">
              <li class="align-items-center d-flex justify-content-between">
                Status:
                <span class="badge <%= status_bg @process.status %>">
                  <%= @process.status %>
                </span>
              </li>
              <li class="align-items-center d-flex justify-content-between">
                Started:
                <span class="badge bg-secondary">
                  <%== relative_time @process.started_at %>
                </span>
              </li>
              <li class="align-items-center d-flex justify-content-between">
                State from:
                <span class="badge bg-secondary">
                  <%== relative_time @process.dispatched_at %>
                </span>
              </li>
            </ul>
            </p>

            <% unless @process.tags.empty? %>
              <p class="mb-0 text-end">
                <% @process.tags.each do |tag| %>
                  <span class="badge bg-info badge-topic">
                    <%= tag %>
                  </span>
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Utilization</h5>
            <p class="card-text">
            <ul style="list-style: square !important;">
              <li class="align-items-center d-flex justify-content-between">
                Threads:
                <span class="badge bg-primary">
                  <%= @process.concurrency %>
                </span>
              </li>
              <li class="align-items-center d-flex justify-content-between">
                Threads utilization:
                <span class="badge bg-primary">
                  <%= @process.utilization.round(2) %>%
                </span>
              </li>
              <li class="align-items-center d-flex justify-content-between">
                CPUs:
                <span class="badge bg-primary">
                  <%= @process.cpu_count %>
                </span>
              </li>
              <li class="align-items-center d-flex justify-content-between">
                CPU usage:
                <% @process.cpu_usage.each_with_index do |usage, i| %>
                  <span class="badge bg-primary">
                    <%= usage %>
                  </span>

                  <%= i < 2 ? '/' : '' %>
                <% end %>
              </li>
            </ul>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Memory usage</h5>
            <p class="card-text">
            <ul style="list-style: square !important;">
              <li class="align-items-center d-flex justify-content-between">
                RSS:
                <span class="badge bg-primary">
                  <%= format_memory @process.memory_usage %>
                </span>
              </li>
              <li class="align-items-center d-flex justify-content-between">
                OS memory used:
                <span class="badge bg-primary">
                  <%= format_memory @process.memory_total_usage %>
                </span>
              </li>
              <li class="align-items-center d-flex justify-content-between">
                OS memory available:
                <span class="badge bg-primary">
                  <%= format_memory @process.memory_size %>
                </span>
              </li>
            </ul>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Versions</h5>
            <p class="card-text">
            <ul style="list-style: square !important;">
              <li class="align-items-center d-flex justify-content-between">
                Ruby:
                <span class="badge bg-secondary">
                  <%= @process.ruby %>
                </span>
              </li>
              <li class="align-items-center d-flex justify-content-between">
                Karafka:
                <span class="badge bg-secondary">
                  <%= @process.karafka %>
                </span>
              </li>
              <li class="align-items-center d-flex justify-content-between">
                WaterDrop version:
                <span class="badge bg-secondary">
                  <%= @process.waterdrop %>
                </span>
              </li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
