<tr>
  <td>
    <%= topic.name %>
  </td>
  <td>
    <%= partition.id %>
  </td>
  <td>
    <%== lag_with_label partition.lag_stored %>
  </td>
  <td>
    <span class="badge <%= lag_trend_bg(partition.lag_stored_d) %>">
      <%= partition.lag_stored_d %>
    </span>
  </td>
  <td>
    <% if partition.stored_offset.negative? %>
      <%== offset_with_label topic.name, partition.id, partition.committed_offset - 1 %>
    <% else %>
      <%== offset_with_label topic.name, partition.id, partition.committed_offset %>
    <% end %>
  </td>
  <td>
    <%== offset_with_label topic.name, partition.id, partition.stored_offset %>
  </td>
  <td>
    <span class="badge <%= kafka_state_bg(partition.fetch_state) %> mt-1 mb-1">
      <%= partition.fetch_state %>
    </span>
  </td>
  <td>
    <span class="badge <%= kafka_state_bg(partition.poll_state) %> mt-1 mb-1">
      <%= partition.poll_state %>
    </span>
  </td>
</tr>
