<tr>
  <td>
    <%= topic.name %>
  </td>
  <td>
    <%= partition.id %>
  </td>
  <td>
    <%== offset_with_label partition.lag_stored.to_i %>
  </td>
  <td>
    <span class="badge <%= lag_trend_bg(partition.lag_stored_d) %>">
      <%= partition.lag_stored_d %>
    </span>
  </td>
  <td>
    <%== offset_with_label partition.committed_offset.to_i %>
  </td>
  <td>
    <%== offset_with_label partition.stored_offset.to_i %>
  </td>
  <td>
    <span class="badge <%= kafka_state_bg(partition.fetch_state) %> mt-1 mb-1">
      <%= partition.fetch_state %>
    </span>
  </td>
  <td>
    <span class="badge <%= kafka_state_bg(partition.poll_state) %> mt-1 mb-1">
      <%= partition.poll_state %>
    </span>
  </td>
</tr>
