<tr>
  <td>
    <%= topic.name %>
  </td>
  <td>
    <%= partition.id %>
  </td>
  <td>
    <% if partition.lag_stored.to_i < 0 %>
      <span class="badge bg-secondary" title="Not available until first offset commit">
        N/A
      </span>
    <% else %>
      <%= partition.lag_stored %>
    <% end %>
  </td>
  <td>
    <span class="badge <%= lag_trend_bg(partition.lag_stored_d) %>">
      <%= partition.lag_stored_d %>
    </span>
  </td>
  <td>
    <% if partition.committed_offset.to_i < 0 %>
      <span class="badge bg-secondary" title="Not available until first offset commit">
        N/A
      </span>
    <% else %>
      <%= partition.committed_offset %>
    <% end %>
  </td>
  <td>
    <% if partition.stored_offset.to_i < 0 %>
      <span class="badge bg-secondary" title="Not available until first offset commit">
        N/A
      </span>
    <% else %>
      <%= partition.stored_offset %>
    <% end %>
  </td>
  <td>
    <span class="badge <%= kafka_state_bg(partition.fetch_state) %> mt-1 mb-1">
      <%= partition.fetch_state %>
    </span>
  </td>
  <td>
    <span class="badge <%= kafka_state_bg(partition.poll_state) %> mt-1 mb-1">
      <%= partition.poll_state %>
    </span>
  </td>
</tr>
