<div class="row mb-4">
  <div class="col-sm-12">
    <h6 class="mb-4">
      <%= consumer_group.id %> /
      <%= subscription_group.id %>
    </h6>

    <div class="card-group text-center">
      <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center p-2">
          State:&nbsp;
          <span class="badge <%= kafka_state_bg(subscription_group[:state][:state]) %> mt-1 mb-1">
            <%= subscription_group[:state][:state] %>
          </span>
        </div>
      </div>

      <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center p-2">
          Join state:&nbsp;
          <span class="badge <%= kafka_state_bg(subscription_group.join_state) %> mt-1 mb-1">
            <%= subscription_group.join_state %>
          </span>
        </div>
      </div>

      <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center p-2">
          State change:&nbsp;
          <span class="badge bg-secondary mt-1 mb-1">
            <%==
              relative_time(
                Time.at(@process.dispatched_at) - (subscription_group.stateage / 1_000.0)
              )
            %>
          </span>
        </div>
      </div>

      <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center p-2">
          Last Poll:&nbsp;
          <span class="badge bg-secondary mt-1 mb-1">
            <%==
              relative_time(
                Time.at(@process.dispatched_at) - (subscription_group.poll_age / 1_000.0)
              )
            %>
          </span>
        </div>
      </div>

      <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center p-2">
          Last rebalance:&nbsp;
          <span class="badge bg-secondary mt-1 mb-1">
            <%==
              relative_time(
                Time.at(@process.dispatched_at) - (subscription_group.rebalance_age / 1_000.0)
              )
            %>
          </span>
        </div>
      </div>

      <div class="card">
        <div class="card-body d-flex flex-column align-items-center justify-content-center p-2">
          Rebalance count:&nbsp;
          <span class="badge bg-secondary mt-1 mb-1">
            <%= subscription_group.rebalance_cnt %>
          </span>
        </div>
      </div>
    </div>
  </div>

  <span class="text-end mt-3">
    <small>
      Last rebalance reason: <%= subscription_group.rebalance_reason %>
    </small>
  </span>
</div>

<% if subscription_group.topics.empty? %>
  <div class="row mb-4">
    <div class="col-lg-12">
      <div class="alert alert-info" role="alert">
        This process does not consume any messages from any topics of this subscription group.
      </div>
    </div>
  </div>
<% else %>
  <% subscription_group.topics.each do |topic| %>
    <div class="row mb-5">
      <div class="col-sm-12">
        <table class="processes bg-white table table-hover table-bordered table-striped mb-0 align-middle">
          <thead>
            <tr class="align-middle">
              <th colspan="10">
                <h5 class="mb-0">
                  <%= topic.name %>
                </h5>
              </th>
            <tr class="align-middle">
            </tr>
              <th><%== sort_link('Partition', :id) %></th>
              <th><%== sort_link(:lag_stored) %></th>
              <th><%== sort_link('Lag stored trend', :lag_stored_d) %></th>
              <th><%== sort_link(:committed_offset) %></th>
              <th><%== sort_link(:stored_offset) %></th>
              <th><%== sort_link(:fetch_state) %></th>
              <th><%== sort_link(:poll_state) %></th>
              <th><%== sort_link('LSO state', :lso_risk_state) %></th>
            </tr>
          </thead>
          <tbody>
              <% topic.partitions.each do |partition| %>
                <%==
                  partial(
                    'consumers/consumer/partition',
                    locals: {
                      topic: topic,
                      partition: partition,
                      subscription_group: subscription_group
                    }
                  )
                %>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% end %>
