<% if @process %>
  <li class="breadcrumb-item">
    <a href="<%= root_path('consumers') %>">
      Consumers
    </a>
  </li>

  <li class="breadcrumb-item">
    <a href="<%= root_path('consumers', @process.id, 'subscriptions') %>">
      <%= @process.name %>
    </a>
  </li>

  <% if current_path.include?('/jobs') %>
    <li class="breadcrumb-item">
      <a href="<%= root_path('consumers', @process.id, 'jobs') %>">
        Jobs
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="<%= root_path('consumers', @process.id, 'jobs') %>">
        Running
      </a>
    </li>
  <% elsif current_path.include?('/subscriptions') %>
    <li class="breadcrumb-item">
      <a href="<%= root_path('consumers', @process.id, 'subscriptions') %>">
        Subscriptions
      </a>
    </li>
  <% else %>
    <li class="breadcrumb-item">
      <a href="<%= root_path('consumers', @process.id, 'details') %>">
        Details
      </a>
    </li>
  <% end %>
<% end %>
