<tr class="status-row-<%= process.status %>">
  <td>
    <div class="badge badge-topic <%= status_bg(process.status) %> float-end">
      <%= process.status %>
    </div>

    <a href="<%= root_path('consumers', process.id, 'subscriptions') %>">
      <%= process.name %>
    </a>

    <p class="mt-0 mb-1">
      <% process.consumer_groups.each do |consumer_group| %>
        <% sg_topics = Hash.new { |h, k| h[k] = [] } %>

        <% consumer_group.subscription_groups.each do |subscription_group| %>
          <% subscription_group.topics.each do |topic| %>
            <% sg_topics[topic.name] << topic.partitions.map(&:id) %>
          <% end %>
        <% end %>

        <% sg_topics.each do |topic_name, partitions| %>
          <span class="badge bg-secondary badge-topic" title="Consumer group: <%= consumer_group.id %>">
            <%= topic_name %>:
            <% if partitions.size > 10 %>
              <%= "#{partitions.sort.first(10).join(',')}..." %>
            <% else %>
              <%= partitions.sort.join(',') %>
            <% end %>
          </span>
        <% end %>
      <% end %>
    </p>

    <p class="mt-0 mb-1">
      <%== tags(process.tags) %>
    </p>
  </td>

  <td>
    <%== relative_time process.started_at %>
  </td>

  <td>
    <span class="badge bg-primary badge-topic">
      <%= format_memory process.memory_usage %>
    </span>
    <span class="badge bg-primary badge-topic">
      <%= format_memory process.memory_total_usage %>
    </span>
    <span class="badge bg-primary badge-topic">
      <%= format_memory process.memory_size %>
    </span>
  </td>

  <td>
    <span class="badge bg-primary badge-topic">
      <%= process.utilization.round(1) %>%
    </span>
    <span class="badge bg-primary badge-topic">
      <%= process.workers %> /
      <%= process.busy %>
    </span>
  </td>

  <td>
    <% process.cpu_usage.each do |metric| %>
      <span class="badge bg-primary badge-topic">
        <%= metric %>
      </span>
    <% end %>
  </td>

  <td>
    <%= process.lag_stored %>
  </td>
</tr>
