<div id="counters" class="container mb-5">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body p-2 small">
          <div class="col-sm-12">
            <ul class="list-unstyled row text-center mb-0 mt-0">
              <li class="col-sm">
                <div class="fw-bold text-primary mb-1"><%= @counters.messages %></div>
                <div class="desc">Messages</div>
              </li>
              <li class="col-sm">
                <div class="fw-bold text-primary mb-1"><%= @counters.batches %></div>
                <div class="desc">Batches</div>
              </li>
              <li class="col-sm">
                <div class="fw-bold text-primary mb-1"><%= @processes.sum(&:lag_stored) %></div>
                <div class="desc">Lag</div>
              </li>
              <li class="col-sm">
                <div class="fw-bold text-primary mb-1"><%= @counters.busy %></div>
                <div class="desc">Busy</div>
              </li>
              <li class="col-sm">
                <div class="fw-bold text-primary mb-1"><%= @counters.enqueued %></div>
                <div class="desc">Enqueued</div>
              </li>
              <li class="col-sm">
                <a href="<%= root_path('errors/0') %>">
                  <div class="fw-bold text-primary mb-1"><%= @counters.errors %></div>
                  <div class="desc">Errors</div>
                </a>
              </li>
              <li class="col-sm">
                <div class="fw-bold text-primary mb-1"><%= @counters.retries %></div>
                <div class="desc">Retries</div>
              </li>
              <li class="col-sm">
                <a href="<%= root_path('dlq') %>">
                  <div class="fw-bold text-primary mb-1"><%= @counters.dead %></div>
                  <div class="desc">Dead</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
