<%== view_title(@process.name) %>

<% if @process.status == 'stopped' %>
  <%== partial 'consumers/consumer/stopped' %>
<% end %>

<%== partial 'consumers/consumer/metrics' %>

<%== partial 'consumers/consumer/tabs' %>

<% if @process.jobs.empty? %>
  <%== partial 'consumers/consumer/no_jobs' %>
<% else %>
  <div class="container">
    <div class="row mb-5">
      <div class="col-sm-12">
        <table class="processes bg-white table table-hover table-bordered table-striped mb-0 align-middle">
          <thead>
            <tr class="align-middle">
              <th>Topic</th>
              <th>Consumer</th>
              <th>Type</th>
              <th>First offset</th>
              <th>Last offset</th>
              <th>Committed offset</th>
              <th>Started at</th>
            </tr>
          </thead>
          <tbody>
            <%==
              render_each(
                @process.jobs,
                'consumers/consumer/_job',
                local: :job
              )
            %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
