<%== view_title(@process.name) %>

<% if @process.status == 'stopped' %>
  <%== partial 'consumers/consumer/stopped' %>
<% end %>

<%== partial 'consumers/consumer/metrics' %>

<%== partial 'consumers/consumer/tabs' %>

<% if @running_jobs.empty? %>
  <%== partial 'consumers/consumer/no_jobs', locals: { type: 'running' } %>
<% else %>
  <div class="container">
    <div class="row mb-5">
      <div class="col-sm-12">
        <table class="processes bg-white table table-hover table-bordered table-striped mb-0 align-middle">
          <thead>
            <tr class="align-middle">
              <th><%== sort_link(:topic) %></th>
              <th><%== sort_link(:consumer) %></th>
              <th><%== sort_link(:type) %></th>
              <th><%== sort_link(:messages) %></th>
              <th><%== sort_link(:first_offset) %></th>
              <th><%== sort_link(:last_offset) %></th>
              <th><%== sort_link(:committed_offset) %></th>
              <th><%== sort_link('Started at', :updated_at) %></th>
            </tr>
          </thead>
          <tbody>
            <%==
              render_each(
                @running_jobs,
                'consumers/consumer/_job',
                local: :job
              )
            %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
