<div id="search-metadata-details" class="hidden">
  <div class="data-table-wrapper">
    <table class="data-table">
      <thead>
        <tr>
          <th colspan="2">Summary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Total Messages Checked</td>
          <td><%= @search_details[:totals][:checked] %></td>
        </tr>
        <tr>
          <td>Matches</td>
          <td><%= @search_details[:totals][:matched] %></td>
        </tr>
        <tr>
          <td>Search Time</td>
          <td><%= (@search_details[:totals][:time_taken] / 1000).round(1) %> second</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="data-table-wrapper">
    <table class="data-table">
      <thead>
        <tr>
          <th>Partition</th>
          <th>Messages Checked</th>
          <th>Offsets</th>
          <th>Lookup Range</th>
          <th>Matches</th>
        </tr>
      </thead>
      <tbody>
        <% @search_details[:partitions].sort.to_h.each do |k, v| %>
          <tr>
            <td>Partition <%= k %></td>
            <td><%= v[:checked] %></td>
            <% if v[:first_message] %>
              <td>
                <%= v[:first_message].offset %>
                -
                <%= v[:last_message].offset %>
              </td>
              <td>
                <%
                  time_s = (
                    v[:last_message].timestamp.to_f - v[:first_message].timestamp.to_f
                  ).round(2)
                %>
                <span title="<%= time_s %> seconds">
                  <%=
                    human_readable_time(time_s)
                  %>
                </span>
              </td>
              <td><%= v[:matched] %></td>
            <% else %>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
