<%
  # We do not want to use any additional gems. That's why this is done that way
  phrase = @current_search[:phrase]
  partitions = @current_search[:partitions]
  messages = @current_search[:messages]
  offset_type = @current_search[:offset_type]
  offset = @current_search[:offset]
  timestamp = @current_search[:timestamp]
%>

<div class="modal" id="messages-search-modal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messages-search-modalLabel">
          Edit Search Parameters
        </h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <form
          id="messages-search-form"
          class="form-horizontal"
          method="get" action="<%= explorer_path(@topic_id, 'search') %>"
        >

          <% if @errors.any? %>
            <div class="alert alert-danger" id="search-form-errors">
              <h4 class="alert-heading h5">Please fix the following errors:</h4>
              <ul class="m-0">
                <% @errors.each do |key, error| %>
                  <li><%= key %>: <%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-row align-items-center">
            <div class="form-group col-md-12 mb-3">
              <div class="row">
                <label for="search-phrase" class="col-sm-4 col-form-label">Phrase</label>

                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    id="phrase"
                    name="search[phrase]"
                    value="<%= phrase %>"
                    placeholder="Enter phrase to search for"
                    required
                  >
                </div>
              </div>
            </div>

            <div class="form-group col-md-12 mb-3 ">
              <div class="row">
                <label for="partitions" class="col-sm-4 col-form-label">Partitions</label>
                <div class="col-sm-8">
                  <select class="form-control" id="partitions" name="search[partitions][]" multiple required>
                    <option value="all" <%= 'selected' if partitions.include?('all') || partitions.empty? %>>All</option>
                    <% @partitions_count.times do |i| %>
                      <option value="<%= i %>" <%= 'selected' if partitions.include?(i.to_s) %>>Partition <%= i %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row align-items-center">
            <div class="form-group col-md-12 mb-3 ">
              <div class="row">
                <label for="starting-offset" class="col-sm-4 col-form-label">Offset</label>
                <div class="col-sm-8">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="search[offset_type]" id="offset-latest" value="latest" <%= 'checked' if offset_type == 'latest' || offset_type.empty? %>>
                    <label class="form-check-label" for="offset-latest">Latest</label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="search[offset_type]" id="offset-value" value="offset" <%= 'checked' if offset_type == 'offset' %>>
                    <label class="form-check-label" for="offset-value">Offset</label>
                    <input type="number" value="<%= offset %>" class="form-control mt-2" id="offset-input" name="search[offset]" min="0" disabled>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="search[offset_type]" id="offset-timestamp" value="timestamp" <%= 'checked' if offset_type == 'timestamp' %>>
                    <label class="form-check-label" for="offset-timestamp">Timestamp</label>
                    <input type="number" value="<%= timestamp %>" class="form-control mt-2" id="offset-timestamp-input" name="search[timestamp]" min="0" max="<%= ((Time.now.to_f + 60 * 60 * 24 * 31) * 1_000).to_i %>" disabled>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group col-md-12 mb-3 ">
              <div class="row">
                <label for="messages" class="col-sm-4 col-form-label">Messages</label>
                <div class="col-sm-8">
                  <select class="form-control" id="messages" name="search[messages]" required>
                    <option value="1000"   <%= 'selected' if messages == 1000 %>>1000</option>
                    <option value="10000"  <%= 'selected' if messages == 10000 %>>10000</option>
                    <option value="100000" <%= 'selected' if messages == 100000 %>>100000</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row align-items-center">
            <div class="form-group col-md-12 mb-3 ">
              <div class="row">
                <label for="strategy" class="col-sm-4 col-form-label">Strategy</label>
                <div class="col-sm-8">
                  <select class="form-control" id="strategy" name="search[strategy]" required>
                    <option value="default">Default</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row align-items-center">
            <div class="form-group col-md-12 mb-3  text-center d-grid">
              <button type="submit" class="btn btn-primary btn-lockable">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
