<div class="col-span-4">
  <section class="actions">
    <button class="btn-action" id="show-search-modal">
      <%== icon(:magnifying_glass) %>
    </button>

    <% if @search_criteria && @errors.empty? %>
      <button
        class="btn-action"
        type="button"
        id="toggle-search-metadata"
        title="Display search metadata details"
      >
        <%== icon(:chart_bar) %>
      </button>
    <% end %>
  </section>
</div>

<div class="col-span-8">
  <section class="items-center text-end text-gray-700 text-end mt-1 mb-2">
    <% if @search_criteria && @errors.empty? %>
      Search criteria:

      <% params.current_search.each do |key, values| %>
        <span class="badge badge-secondary">
          <%= key.gsub('_', ' ') %>:
          <% if values.is_a?(Hash) %>
            <%= Array(values.values).join(', ') %>
          <% else %>
            <%= Array(values).join(', ') %>
          <% end %>
        </span>
      <% end %>
    <% end %>
  </section>
</div>
