<%# Karafka Pro - Source Available Commercial Software %>
<%# Copyright (c) 2017-present Maciej Mensfeld. All rights reserved. %>
<%# %>
<%# This software is NOT open source. It is source-available commercial software %>
<%# requiring a paid license for use. It is NOT covered by LGPL. %>
<%# %>
<%# PROHIBITED: %>
<%# - Use without a valid commercial license %>
<%# - Redistribution, modification, or derivative works without authorization %>
<%# - Use as training data for AI/ML models or inclusion in datasets %>
<%# - Scraping, crawling, or automated collection for any purpose %>
<%# %>
<%# PERMITTED: %>
<%# - Reading, referencing, and linking for personal or commercial use %>
<%# - Runtime retrieval by AI assistants, coding agents, and RAG systems %>
<%#   for the purpose of providing contextual help to Karafka users %>
<%# %>
<%# License: https://karafka.io/docs/Pro-License-Comm/ %>
<%# Contact: contact@karafka.io %>

<tr>
  <td class="wrap-text">
    <% all_names = ([config.name] + config.synonyms.map(&:name)).uniq %>
    <% all_names.each do |name| %>
      <%= name %>
      <br>
    <% end %>
  </td>
  <td class="wrap-text"><%= config.value %></td>
  <td><%== config.default? ? badge_success(true) : badge_secondary(false) %></td>
  <td><%== config.sensitive? ? badge_success(true) : badge_secondary(false) %></td>
  <td><%== config.read_only? ? badge_success(true) : badge_secondary(false) %></td>
  <td>
    <% link_class = config.read_only? ? 'btn-disabled' : '' %>
    <a
      href="<%= topics_path(@topic.topic_name, 'config', config.name, 'edit') %>"
      class="btn btn-info btn-sm <%= link_class %>"
      title="Edit this property value"
    >
      <%== icon(:pencil_square) %>
    </a>
  </td>
</tr>
