<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<li>
  <a href="<%= root_path('errors') %>">
    Errors
  </a>
</li>

<% if @partition_id %>
  <li>
    <a href="<%= root_path('errors', @partition_id) %>">
      Partition <%= @partition_id %>
    </a>
  </li>
<% end %>

<% if @offset %>
  <li>
    <a href="<%= root_path('errors', @partition_id, @offset) %>">
      <%= "Offset #{@offset}" %>
    </a>
  </li>
<% end %>
