<li>
  <a href="<%= root_path('errors') %>">
    Errors
  </a>
</li>

<% if @partition_id %>
  <li>
    <a href="<%= root_path('errors', @partition_id) %>">
      Partition <%= @partition_id %>
    </a>
  </li>
<% end %>

<% if @offset %>
  <li>
    <a href="<%= root_path('errors', @partition_id, @offset) %>">
      <%=
        type = @error_message.payload[:type]
        error_class = @error_message.payload[:error_class]

        "#{type}: #{error_class}"
      %>
    </a>
  </li>
<% end %>
