<% if error_msg.is_a?(Array) %>
  <%== partial 'shared/not_a_message' %>
<% else %>
  <% error = error_msg.payload %>

  <tr>
    <td>
      <span class="badge badge-secondary">
        <% if error[:details].key?(:topic) %>
          <%= error[:details][:topic] %>: <%= error[:details][:partition] %>
        <% else %>
          <%= error[:type] %>
        <% end %>
      </span>
    </td>
    <td>
      <%== error[:process][:id] %>
    </td>
    <td>
      <%= error[:error_class] %>:
      <%= error[:error_message][0..199] %>
    </td>
    <td>
      <%== relative_time error[:occurred_at] %>
    </td>
    <td>
      <%==
        link_button_primary_sm(
          'Details',
          root_path('errors', error_msg.partition, error_msg.offset)
        )
      %>
    </td>
  </tr>
<% end %>
