<%== partial('errors/title_with_select') %>

<div class="container">
  <div class="row mb-5">
    <div class="col-sm-12">
      <%== partial('explorer/topic/details') %>

      <% if @limited %>
        <%== partial('explorer/topic/limited') %>
      <% end %>

      <% if @error_messages.empty? && params.current_page == 1 %>
        <%== partial 'explorer/topic/empty' %>
      <% else %>
        <%== partial 'errors/table' %>
      <% end %>
    </div>
  </div>
</div>
