<% view_title "Partition #{@partition_id}" %>

<div class="col-span-4">
  <section class="actions">
    <% if @error_messages && !@error_messages.empty? %>
      <a
        href="<%= explorer_path(@topic_id, @partition_id, 'recent') %>"
        class="btn-action"
        title="Display the most recent message for this partition with auto-refresh"
      >
        <%== icon(:play_circle) %>
      </a>

      <a
        href="<%= explorer_path(@topic_id, 'search') %>"
        class="btn-action"
        title="Search in this topic"
      >
        <%== icon(:magnifying_glass) %>
      </a>

      <% closest_path = explorer_path(@topic_id, @partition_id) %>
      <input
        type="image"
        src="<%= asset_path('images/calendar.svg') %>"
        width="45"
        height="32"
        class="btn-action p-1 opacity-60"
        id="offset-lookup-datepicker"
        value="&#128198;"
        data-target="<%= closest_path %>"
      />
    <% end %>
  </section>
</div>

<div class="col-span-8 mb-3">
  <section class="actions">
    <%== partial 'errors/selector' %>
  </section>
</div>

<div class="col-span-12">
  <% if @watermark_offsets.empty? %>
    <%== partial 'errors/no_errors' %>
  <% elsif @watermark_offsets.cleaned? %>
    <%== partial 'errors/cleaned' %>
  <% else %>
    <% content_for :table_metadata do %>
      <p class="table_metadata">
        Watermark offsets:
        <span class="badge">
          high: <%= @watermark_offsets.high %>
        </span>

        <span class="badge">
          low: <%= @watermark_offsets.low %>
        </span>
      </p>
    <% end %>

    <%== partial 'errors/table' %>
  <% end %>
</div>
