<li>
  <a href="<%= root_path('cluster') %>">
    Cluster informations
  </a>
</li>

<% unless @partitions %>
  <li>
    <a href="<%= root_path('cluster') %>">
      Brokers
    </a>
  </li>
<% end %>

<% if @broker %>
  <li>
    <a href="<%= root_path('cluster', @broker.id) %>">
      <%= @broker.full_name %>
    </a>
  </li>
<% end %>

<% if @partitions %>
  <li>
    <a href="<%= root_path('cluster', 'replication') %>">
      Replication
    </a>
  </li>
<% end %>
