<tr>
  <td>
    <a href="<%= root_path('cluster', broker.id) %>">
      <%= broker.id %>
    </a>
  </td>
  <td>
    <a href="<%= root_path('cluster', broker.id) %>">
      <%= broker.name %>
    </a>
  </td>
  <td><%= broker.port %></td>
</tr>
