<p class="mb-2">
  Below you can find information about your setup. This can be helpful when debugging or reporting bugs and issues.
</p>

<p class="mb-2">
  <%== badge_primary @sampler.ruby_version %>
  <%== badge_primary "karafka #{@sampler.karafka_version} #{Karafka.pro? ? 'Pro' : 'OSS'}" %>
  <%== badge_primary "karafka-web #{@sampler.karafka_web_version}" %>
  <%== badge_primary "karafka-core #{@sampler.karafka_core_version}" %>
  <%== badge_primary "rdkafka #{@sampler.rdkafka_version}" %>
  <%== badge_primary "librdkafka #{@sampler.librdkafka_version}" %>
  <%== badge_primary "waterdrop #{@sampler.waterdrop_version}" %>

  <% if Object.const_defined?(:Rails, false) %>
    <%== badge_primary "rails #{Rails.gem_version}" %>
  <% end %>

  <% if Object.const_defined?(:Fugit, false) %>
    <%== badge_primary "fugit #{Fugit::VERSION}" %>
  <% end %>
</p>

<div class="data-table-wrapper">
  <table class="data-table mb-0 mt-3">
    <thead>
      <tr>
        <th>
          Data Type
        </th>
        <th>
          Topic Name
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Errors</td>
        <td><code><%= Karafka::Web.config.topics.errors %></code></td>
      </tr>

      <tr>
        <td>Consumers reports</td>
        <td><code><%= Karafka::Web.config.topics.consumers.reports %></code></td>
      </tr>

      <tr>
        <td>Consumers states</td>
        <td><code><%= Karafka::Web.config.topics.consumers.states %></code></td>
      </tr>

      <tr>
        <td>Consumers metrics</td>
        <td><code><%= Karafka::Web.config.topics.consumers.metrics %></code></td>
      </tr>

      <% if Karafka.pro? %>
        <tr>
          <td>Recurring Tasks schedules</td>
          <td><code><%= Karafka::App.config.recurring_tasks.topics.schedules %></code></td>
        </tr>

        <tr>
          <td>Recurring Tasks logs</td>
          <td><code><%= Karafka::App.config.recurring_tasks.topics.logs %></code></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
