<p>
  Below you can find information about your setup. This can be helpful when debugging or reporting bugs and issues.
</p>

<p>
  <span class="badge bg-secondary">
    <%= @sampler.ruby_version %>
  </span>

  <span class="badge bg-secondary">
    karafka
    <%= @sampler.karafka_version %>
  </span>

  <span class="badge bg-secondary">
    karafka-web
    <%= @sampler.karafka_web_version %>
  </span>

  <span class="badge bg-secondary">
    karafka-core
    <%= @sampler.karafka_core_version %>
  </span>

  <span class="badge bg-secondary">
    rdkafka
    <%= @sampler.rdkafka_version %>
  </span>

  <span class="badge bg-secondary">
    librdkafka
    <%= @sampler.librdkafka_version %>
  </span>

  <span class="badge bg-secondary">
    waterdrop
    <%= @sampler.waterdrop_version %>
  </span>

  <% if Object.const_defined?(:Rails, false) %>
    <span class="badge bg-secondary">
      rails
      <%= Rails.gem_version %>
    </span>
  <% end %>

  <span class="badge bg-secondary">
    memsize
    <%= ObjectSpace.respond_to?(:memsize_of) %>
  </span>
</p>

<hr/>

<p>
  Below you can find information about internal Karafka Web-UI topics:
</p>

<ul class="mb-0">
  <li>Errors: <code><%= Karafka::Web.config.topics.errors %></code></li>
  <li>Consumers reports: <code><%= Karafka::Web.config.topics.consumers.reports %></code></li>
  <li>Consumers states: <code><%= Karafka::Web.config.topics.consumers.states %></code></li>
  <li>Consumers metrics: <code><%= Karafka::Web.config.topics.consumers.metrics %></code></li>
</ul>
