<p>
  Below you can find information about your setup. This can be helpful when debugging or reporting bugs and issues.
</p>

<p class="mb-0">
  <span class="badge bg-secondary">
    <%= @sampler.ruby_version %>
  </span>

  <span class="badge bg-secondary">
    karafka
    <%= @sampler.karafka_version %>
  </span>

  <span class="badge bg-secondary">
    karafka-web
    <%= @sampler.karafka_web_version %>
  </span>

  <span class="badge bg-secondary">
    karafka-core
    <%= @sampler.karafka_core_version %>
  </span>

  <span class="badge bg-secondary">
    rdkafka
    <%= @sampler.rdkafka_version %>
  </span>

  <span class="badge bg-secondary">
    librdkafka
    <%= @sampler.librdkafka_version %>
  </span>

  <span class="badge bg-secondary">
    waterdrop
    <%= @sampler.waterdrop_version %>
  </span>
</p>
