<div>
  <span class="badge">.badge</span>
  <span class="badge badge-primary">.badge .badge-primary</span>
  <span class="badge badge-info">.badge .badge-info</span>
  <span class="badge badge-secondary">.badge .badge-secondary</span>
  <span class="badge badge-success">.badge .badge-success</span>
  <span class="badge badge-warning">.badge .badge-warning</span>
  <span class="badge badge-error">.badge .badge-error</span>
</div>
<div class="mb-6"></div>

<div>
  <%== badge '#badge' %>
  <%== badge_primary '#badge_primary' %>
  <%== badge_info '#badge_info' %>
  <%== badge_secondary '#badge_secondary' %>
  <%== badge_success '#badge_success' %>
  <%== badge_warning '#badge_warning' %>
  <%== badge_error '#badge_error' %>
</div>
<div class="mb-6"></div>
