<div>
  <div class="data-table-wrapper">
    <table class="data-table">
      <thead>
        <tr>
          <th>
            .data-table
            Header 1 with sort
            <%== sort_link('Partition', :id) %>
          </th>
          <th>
            Header 2
          </th>
          <th>
            .commands-inline-3
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Row 1 Column 1</td>
          <td>Row 1 Column 2</td>
          <td class="commands-inline-3">
            <button class="btn btn-primary btn-sm">
              <%== icon('play') %>
            </button>
            <button class="btn btn-primary btn-sm">
              <%== icon('play') %>
            </button>
            <button class="btn btn-primary btn-sm">
              <%== icon('play') %>
            </button>
          </td>
        </tr>

        <tr>
          <td>Row 2 Column 1</td>
          <td>Row 2 Column 2</td>
          <td class="commands-inline-3">
            <button class="btn btn-primary btn-sm">
              <%== icon('play') %>
            </button>
            <button class="btn btn-primary btn-sm">
              <%== icon('play') %>
            </button>
            <button class="btn btn-primary btn-sm">
              <%== icon('play') %>
            </button>
          </td>
        </tr>

        <tr>
          <td>Row 3 Column 1</td>
          <td>Row 3 Column 2</td>
          <td class="commands-inline-3">
            <button class="btn btn-primary btn-sm">
              <%== icon('play') %>
            </button>
            <button class="btn btn-primary btn-sm">
              <%== icon('play') %>
            </button>
            <button class="btn btn-primary btn-sm">
              <%== icon('play') %>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <p class="table_metadata">
      Metadata:
      <span class="badge">
        badge1: 10
      </span>
      <span class="badge">
        badge2:
        0 to 9
      </span>
    </p>
  </div>
</div>
<div class="mb-6"></div>
