<p class="text-muted">text with .text-muted</p>
<div class="mb-6"></div>

<div>
  <p>
    truncate: <%== truncate('a-really-long-consumer-process-identifier-that-does-not-fit', length: 20) %>
  </p>
  <p>
    truncate (:middle strategy): <%== truncate('a-really-long-consumer-process-identifier-that-does-not-fit', length: 20, strategy: :middle) %>
  </p>
</div>
<div class="mb-6"></div>

<div>
  <p>lag_with_label(-1): <%== lag_with_label(-1) %></p>
  <p>lag_with_label(5): <%== lag_with_label(5) %></p>
  <p>offset_with_label('topic', 0, -1): <%== offset_with_label('topic', 0, -1) %></p>
  <p>offset_with_label('topic', 0, 5): <%== offset_with_label('topic', 0, 5) %></p>
</div>
<div class="mb-6"></div>
