<% view_title 'Errors' %>

<div class="col-span-12">
  <% if @watermark_offsets.empty? %>
    <%== partial 'errors/no_errors' %>
  <% elsif @watermark_offsets.cleaned? %>
    <%== partial 'errors/cleaned' %>
  <% else %>
    <div class="data-table-wrapper">
      <table class="data-table">
        <thead>
          <tr>
            <th>Origin</th>
            <th>ID</th>
            <th>Error</th>
            <th>Occurred</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%==
            each_partial(
              @error_messages,
              'errors/error',
              local: :error_msg
            )
          %>
        </tbody>
      </table>

      <p class="table_metadata">
        Watermark offsets:
        <%== badge_secondary "high: #{@watermark_offsets.high}" %>
        <%== badge_secondary "low: #{@watermark_offsets.low}" %>
      </p>
    </div>
  <% end %>
</div>
