<li>
  <a href="<%= root_path('consumers/overview') %>">
    Consumers
  </a>
</li>

<% if current_path.include?('/performance') %>
  <li>
    <a href="<%= root_path('consumers', 'performance') %>">
      Performance
    </a>
  </li>
<% end %>

<% if current_path.include?('/controls') %>
  <li>
    <a href="<%= root_path('consumers', 'controls') %>">
      Controls
    </a>
  </li>
<% end %>

<% if @process %>
  <li>
    <a href="<%= root_path('consumers', @process.id, 'subscriptions') %>">
      <%== truncate(@process.id, strategy: :middle) %>
    </a>
  </li>

  <% if current_path.include?('/jobs') %>
    <li>
      <a href="<%= root_path('consumers', @process.id, 'jobs') %>">
        Jobs
      </a>
    </li>

    <li>
      <a href="<%= root_path('consumers', @process.id, 'jobs') %>">
        Running
      </a>
    </li>
  <% elsif current_path.include?('/subscriptions') %>
    <li>
      <a href="<%= root_path('consumers', @process.id, 'subscriptions') %>">
        Subscriptions
      </a>
    </li>
  <% else %>
    <li>
      <a href="<%= root_path('consumers', @process.id, 'details') %>">
        Details
      </a>
    </li>
  <% end %>
<% end %>
