<tr class="status-row-<%= process.status %>">
  <td>
    <a href="<%= root_path('consumers', process.id, 'subscriptions') %>">
      <%== truncate(process.id, strategy: :middle) %>
    </a>

    <p class="mt-0 mb-1">
      <%== tags(process.tags) %>
    </p>
  </td>

  <td>
    <div class="badge badge-topic <%= status_bg(process.status) %>">
      <%= process.status %>
    </div>
  </td>

  <td>
    <p class="mt-0 mb-1">
      <%== partial 'consumers/assignments_badges', locals: { process: process } %>
    </p>
  </td>

  <td>
    <%== relative_time process.started_at %>
  </td>

  <td>
    <span class="badge bg-primary badge-topic">
      <%= format_memory process.memory_usage %>
    </span>
  </td>

  <td>
    <span class="badge bg-primary badge-topic">
      <%= process.utilization.round(1) %>%
    </span>
    <span class="badge bg-primary badge-topic">
      <%= process.workers %> /
      <%= process.busy %>
    </span>
  </td>

  <td>
    <%= process.lag_hybrid %>
  </td>

  <td>
    <div class="d-flex flex-nowrap justify-content-end">
      <%
        probe_path = root_path('commanding', process.id, 'probe')
        disabled_class = process.status != 'stopped' ? '' : 'disabled'
      %>
      <form action="<%= probe_path %>" method="post" class="d-inline-flex align-items-center mx-1">
        <%== csrf_tag(probe_path) %>
        <input type="submit" value="&#x2699; Probe" class="btn btn-secondary btn-sm <%= disabled_class %>"/>
      </form>

      <%
        quiet_path = root_path('commanding', process.id, 'quiet')
        disabled_class = process.status == 'running' ? '' : 'disabled'

        if process.tags.include?('embedded')
          disabled_class = 'disabled'
          title = 'Not supported in embedded consumers'
        end
      %>
      <form action="<%= quiet_path %>" method="post" class="d-inline-flex align-items-center mx-1" title="<%= title %>">
        <%== csrf_tag(quiet_path) %>
        <input type="submit" value="&#x23F8; Quiet" class="btn btn-warning btn-sm <%= disabled_class %>"/>
      </form>

      <%
        stop_path = root_path('commanding', process.id, 'stop')
        disabled_class = process.status != 'stopping' && process.status != 'stopped' ? '' : 'disabled'

        if process.tags.include?('embedded')
          disabled_class = 'disabled'
          title = 'Not supported in embedded consumers'
        end
      %>
      <form action="<%= stop_path %>" method="post" class="d-inline-flex align-items-center mx-1" title="<%= title %>">
        <%== csrf_tag(stop_path) %>
        <input type="submit" value="&#x25A0; Stop" class="btn btn-danger btn-sm <%= disabled_class %>"/>
      </form>
    </div>
  </td>
</tr>
