<div class="tab-container-wrapper">
  <div class="tab-container">
    <a
      href="<%= root_path('consumers', 'overview') %>"
      class="custom-tab <%= nav_class(include: 'overview') %>"
    >
      Overview
    </a>

    <a
      href="<%= root_path('consumers', 'performance') %>"
      class="custom-tab <%= nav_class(include: 'performance') %>"
    >
      Performance
    </a>

    <% if Karafka::Web.config.commanding.active %>
      <a
        href="<%= root_path('consumers', 'controls') %>"
        class="custom-tab <%= nav_class(include: 'controls') %>"
      >
        Controls
      </a>

      <a
        href="<%= root_path('commands') %>"
        class="custom-tab <%= nav_class(include: 'commands') %>"
      >
        Commands
      </a>
    <% end %>
  </div>
</div>
