<div class="container mb-5">
  <div class="row">
    <%== partial 'consumers/consumer/title' %>
    <%== partial 'consumers/consumer/commands', locals: { process: @process } %>
  </div>
</div>

<% if @process.status == 'stopped' %>
  <%== partial 'consumers/consumer/stopped' %>
<% end %>

<%== partial 'consumers/consumer/metrics' %>

<%== partial 'consumers/consumer/tabs' %>

<% if @process.subscribed? %>
  <div class="container">
    <%==
      render_each(
        @process.consumer_groups,
        'consumers/consumer/_consumer_group',
        local: :consumer_group
      )
    %>
  </div>
<% else %>
  <%== partial 'consumers/consumer/no_subscriptions' %>
<% end %>
