<!doctype html>
<html lang="en">
  <%== partial 'shared/header' %>

  <body>
    <script>0</script>

    <% if @error %>
      <%== yield %>
    <% else %>
      <nav class="navbar navbar-expand-lg navbar-dark shadow-sm mb-4">
        <div class="container-fluid">
          <%== partial 'shared/brand' %>
          <%== partial 'shared/navigation' %>
          <%== partial 'shared/live_poll' %>
        </div>
      </nav>

      <main>
        <%== partial 'shared/become_pro' %>

        <%== partial 'shared/flashes' %>

        <%== partial 'shared/content', locals: { content: yield } %>
      </main>

      <%== partial 'shared/footer' %>
    <% end %>
  </body>
</html>
