<!doctype html>
<html lang="en" data-theme="corporate">
  <%== partial 'shared/header' %>

  <% if @error %>
    <body class="min-h-screen bg-base-200">
      <%== yield %>
    </body>
  <% else %>
    <body class="drawer min-h-screen lg:drawer-open bg-base-200">
      <input id="main-drawer" type="checkbox" class="drawer-toggle" />

      <aside id="drawer-side" class="drawer-side z-10">
        <label for="main-drawer" class="drawer-overlay"></label>

        <%== partial 'shared/navigation' %>
      </aside>

      <main class="drawer-content">
        <div class="turbo-progress-bar"></div>

        <div class="grid-default lg:pb-0">
          <% if Karafka.pro? %>
            <%== partial 'shared/branding/notice' %>
          <% end %>

          <%== partial 'shared/become_pro' %>
          <%== partial 'shared/breadcrumbs' %>

          <header class="col-span-12 flex items-center gap-2 lg:gap-4 mb-3">
            <label for="main-drawer" class="btn btn-square btn-ghost drawer-button lg:hidden">
              <%== icon(:burger) %>
            </label>

            <%== partial 'shared/title' %>

            <%== partial 'shared/controls' %>
          </header>

          <%== partial 'shared/flashes' %>
        </div>

        <div class="grid-default pt-5">
          <%== partial 'shared/content', locals: { content: yield } %>
        </div>
      </main>
    </body>
  <% end %>
</html>
