<p class="mb-2">
  Following topics need to be configured with <strong>exactly</strong> one partition:
</p>

<ul class="list-disc m-5">
  <li>
    <code><%= Karafka::Web.config.topics.consumers.states %></code>
  </li>
  <li>
    <code><%= Karafka::Web.config.topics.consumers.reports %></code>
  </li>
  <li>
    <code><%= Karafka::Web.config.topics.consumers.metrics %></code>
  </li>
</ul>

<p>
  Your current setup contains the following:
</p>

<ul class="list-disc m-5 mb-0">
  <% details.each do |name, details| %>
    <li>
      <code><%= name %> </code> with <code><%= details[:partitions] %></code> partitions.
    </li>
  <% end %>
</ul>
