<li>
  <a href="<%= root_path('health') %>">
    Consumers Groups Health
  </a>
</li>

<% if current_path.include?('/lags') %>
  <li>
    <a href="<%= root_path('health', 'lags') %>">
      Lags
    </a>
  </li>
<% end %>

<% if current_path.include?('/overview') %>
  <li>
    <a href="<%= root_path('health', 'overview') %>">
      Overview
    </a>
  </li>
<% end %>

<% if current_path.include?('/offsets') %>
  <li>
    <a href="<%= root_path('health', 'offsets') %>">
      Offsets
    </a>
  </li>
<% end %>

<% if current_path.include?('/changes') %>
  <li>
    <a href="<%= root_path('health', 'changes') %>">
      Changes
    </a>
  </li>
<% end %>

<% if current_path.include?('/cluster_lags') %>
  <li>
    <a href="<%= root_path('health', 'cluster_lags') %>">
      Cluster Lags
    </a>
  </li>
<% end %>
