<tr class="<%= lso_risk_state_bg(details) %> status-row-<%= details.process.status %>">
  <td>
    <%= partition_id %>
  </td>
  <td>
    <%== lag_with_label details.lag_hybrid %>
  </td>
  <td>
    <%== offset_with_label topic_name, partition_id, details.stored_offset %>
  </td>
  <td>
    <span class="badge <%= kafka_state_badge(details.fetch_state) %> mt-1 mb-1">
      <%= details.fetch_state %>
    </span>
  </td>
  <td>
    <%== poll_state_with_change_time_label(details.poll_state, details.poll_state_ch) %>
  </td>
  <td>
    <span class="badge badge-success <%= lso_risk_state_badge(details) %>">
      <%= details.lso_risk_state %>
    </span>
  </td>
  <td>
    <a href="<%= root_path('consumers', details.process.id, 'subscriptions') %>">
      <%== truncate(details.process.id, strategy: :middle) %>
    </a>
  </td>
</tr>
