<tr class="<%= lso_risk_state_bg(details) %> status-row-<%= details.process.status %>">
  <td>
    <%= partition_id %>
  </td>
  <td>
    <%== relative_time(Time.now - details.committed_offset_fd / 1_000.0) %>
  </td>
  <td>
    <%== relative_time(Time.now - details.stored_offset_fd / 1_000.0) %>
  </td>
  <td>
    <%== relative_time(Time.now - details.hi_offset_fd / 1_000.0) %>
  </td>
  <td>
    <%== relative_time(Time.now - details.ls_offset_fd / 1_000.0) %>
  </td>
  <td>
    <% change_in_seconds = details.poll_state_ch / 1_000.0 %>

    <% if details.poll_state == 'active' %>
      <%== badge_secondary('N/A') %>
    <% elsif change_in_seconds >= 60 * 60 * 31 * 12 %>
      <%== badge_secondary('Until manual resume') %>
    <% else %>
      <%== relative_time(Time.now + change_in_seconds) %>
    <% end %>
  </td>
</tr>
