<tr class="<%= lso_risk_state_bg(details) %>">
  <td>
    <%= partition_id %>
  </td>
  <td>
    <%== lag_with_label details.lag_hybrid %>
  </td>
  <td>
    <%== offset_with_label topic_name, partition_id, details.committed_offset %>
  </td>
  <td>
    <%== relative_time(Time.now - details.committed_offset_fd / 1_000.0) %>
  </td>
  <td>
    <%== offset_with_label topic_name, partition_id, details.stored_offset %>
  </td>
  <td>
    <%== relative_time(Time.now - details.stored_offset_fd / 1_000.0) %>
  </td>
  <td>
    <%== offset_with_label topic_name, partition_id, details.lo_offset %>
  </td>
  <td>
    <%== offset_with_label topic_name, partition_id, details.hi_offset %>
  </td>
  <td>
    <%== relative_time(Time.now - details.hi_offset_fd / 1_000.0) %>
  </td>
  <td>
    <%== offset_with_label topic_name, partition_id, details.ls_offset %>
  </td>
  <td>
    <%== relative_time(Time.now - details.ls_offset_fd / 1_000.0) %>
  </td>
  <td>
    <span class="badge badge-success <%= lso_risk_state_badge(details) %> badge-opacity-100">
      <%= details.lso_risk_state %>
    </span>
  </td>
</tr>
