<div class="col-span-12 mb-9">
  <div class="tab-container">
    <a
      href="<%= root_path('health', 'overview') %>"
      class="custom-tab <%= nav_class(include: 'overview') %>"
    >
      Overview
    </a>

    <a
      href="<%= root_path('health', 'lags') %>"
      class="custom-tab <%= nav_class(include: '/lags') %>"
    >
      Lags
    </a>

    <a
      href="<%= root_path('health', 'offsets') %>"
      class="custom-tab <%= nav_class(include: 'offsets') %>"
    >
      Offsets
    </a>

    <a
      href="<%= root_path('health', 'changes') %>"
      class="custom-tab <%= nav_class(include: 'changes') %>"
    >
      Changes
    </a>

    <a
      href="<%= root_path('health', 'cluster_lags') %>"
      class="custom-tab <%= nav_class(include: 'cluster_lags') %>"
    >
      Cluster Lags
    </a>
  </div>
</div>
