<% view_title 'Consumers Groups Changes Details' %>

<%== partial 'health/tabs' %>

<div class="col-span-12">
  <% if @stats.empty? %>
    <%== partial 'health/no_data' %>
  <% end %>

  <% @stats.each_with_index do |(cg_name, details), index| %>
    <h2 class="h2"><%= cg_name %></h2>

    <% topics = details[:topics] %>
    <% topics.each_with_index do |(topic_name, partitions), index| %>
      <div class="data-table-wrapper">
        <table class="data-table">
          <thead>
            <tr>
              <th colspan="12">
                <%= topic_name %>
              </th>
            </tr>
            <tr>
              <th rowspan="2"><%== sort_link('Partition', :id) %></th>
              <th colspan="4" class="text-center">Offsets changes</th>
              <th rowspan="2">
                <%== sort_link('Pause state change', :poll_state_ch) %>
              </th>
            </tr>
            <tr>
              <th><%== sort_link('Committed', :committed_offset_fd) %></th>
              <th><%== sort_link('Stored', :stored_offset_fd) %></th>
              <th><%== sort_link('High', :hi_offset_fd) %></th>
              <th><%== sort_link('Last stable', :lso_risk_state) %></th>
            </tr>
          </thead>
          <tbody>
              <% partitions.each do |partition_id, details| %>
                <%==
                  partial(
                    'health/partition_times',
                    locals: {
                      topic_name: topic_name,
                      partition_id: partition_id,
                      details: details
                    }
                  )
                %>
              <% end %>
          </tbody>
        </table>

        <%== partial 'health/table_metadata', locals: { details: details } %>
      </div>
    <% end %>
  <% end %>
</div>
