<%== view_title('Consumers Groups Cluster Lags Details') %>

<%== partial 'health/tabs' %>

<% if @stats.empty? %>
  <%== partial 'health/no_data' %>
<% end %>

<% @stats.each_with_index do |(cg_name, details), index| %>
  <div class="container mb-5">
    <div class="row mb-4">
      <div class="col-sm-12">
        <h4 class="mb-4"><%= cg_name %></h4>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12">
        <% details.each_with_index do |(topic_name, partitions), index| %>
          <table class="processes bg-white table table-hover table-bordered table-striped align-middle <%= (index+1 < details.size) ? 'mb-5' : 'mb-3' %>">
            <thead>
              <tr class="align-middle">
                <th colspan="12">
                  <h5 class="mb-0"><%= topic_name %></h4>
                </th>
              </tr>
              <tr class="align-middle">
                <th><%== sort_link('Partition', :id) %></th>
                <th><%== sort_link(:lag) %></th>
                <th><%== sort_link(:stored_offset) %></th>
              </tr>
            </thead>
            <tbody>
                <% partitions.each do |details| %>
                  <tr class="align-middle">
                    <td>
                      <%= details[:id] %>
                    </td>
                    <td>
                      <%== details[:lag] %>
                    </td>
                    <td>
                      <%== details[:stored_offset] %>
                    </td>
                  </tr>

                <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
