<% view_title 'Consumers Groups Cluster Lags Details' %>

<%== partial 'health/tabs' %>

<% if @stats.empty? %>
  <%== partial 'health/no_data' %>
<% end %>

<% @stats.each_with_index do |(cg_name, details), index| %>
  <div class="col-span-12 mb-3">
    <h2 class="h2"><%= cg_name %></h2>

    <div class="data-table-wrapper">
      <% details.each_with_index do |(topic_name, partitions), index| %>
        <table class="data-table">
          <thead>
            <tr>
              <th colspan="12">
                <%= topic_name %>
              </th>
            </tr>
            <tr>
              <th><%== sort_link('Partition', :id) %></th>
              <th><%== sort_link(:lag) %></th>
              <th><%== sort_link(:stored_offset) %></th>
            </tr>
          </thead>
          <tbody>
            <% partitions.each do |details| %>
              <tr>
                <td><%= details[:id] %></td>
                <td><%== details[:lag] %></td>
                <td><%== details[:stored_offset] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>
