<% view_title 'Consumers Groups Lags Details' %>

<%== partial 'health/tabs' %>

<div class="col-span-12">
  <% if @stats.empty? %>
    <%== partial 'health/no_data' %>
  <% end %>

  <% @stats.each_with_index do |(cg_name, details), index| %>
    <h2 class="h2"><%= cg_name %></h2>

    <% topics = details[:topics] %>
    <% topics.each_with_index do |(topic_name, partitions), index| %>
      <div class="data-table-wrapper">
        <table class="data-table">
          <thead>
            <tr>
              <th colspan="12">
                <%= topic_name %>
              </th>
            </tr>
            <tr>
              <th rowspan="2"><%== sort_link('Partition', :id) %></th>
              <th colspan="2" class="text-center">Lags</th>
              <th colspan="2" class="text-center">Trends</th>
              <th colspan="12" rowspan="2">
                <%== sort_link(:poll_state) %>
              </th>
            </tr>
            <tr>
              <th><%== sort_link(:lag) %></th>
              <th><%== sort_link(:lag_stored) %></th>
              <th><%== sort_link('Lag', :lag_d) %></th>
              <th><%== sort_link('Lag stored', :lag_stored_d) %></th>
            </tr>
          </thead>
          <tbody>
              <% partitions.each do |partition_id, details| %>
                <%==
                  partial(
                    'health/partition_lags',
                    locals: {
                      topic_name: topic_name,
                      partition_id: partition_id,
                      details: details
                    }
                  )
                %>
              <% end %>
          </tbody>
        </table>

        <%== partial 'health/table_metadata', locals: { details: details } %>
      </div>
    <% end %>
  <% end %>
</div>
