<%== view_title('Consumers Groups Lags Details') %>

<%== partial 'health/tabs' %>

<% if @stats.empty? %>
  <%== partial 'health/no_data' %>
<% end %>

<% @stats.each_with_index do |(cg_name, details), index| %>
  <div class="container mb-5">
    <%== partial 'health/consumer_group_header', locals: { cg_name: cg_name, details: details } %>

    <div class="row mb-3">
      <div class="col-sm-12 table-responsive">
        <% topics = details[:topics] %>
        <% topics.each_with_index do |(topic_name, partitions), index| %>
          <table class="processes bg-white table table-hover table-bordered table-striped align-middle <%= (index+1 < topics.size) ? 'mb-5' : 'mb-3' %>">
            <thead>
              <tr class="align-middle">
                <th colspan="12">
                  <h5 class="mb-0"><%= topic_name %></h4>
                </th>
              </tr>
              <tr class="align-middle">
                <th rowspan="2"><%== sort_link('Partition', :id) %></th>
                <th colspan="2" class="text-center">Lags</th>
                <th colspan="2" class="text-center">Trends</th>
                <th colspan="12" rowspan="2">
                  <%== sort_link(:poll_state) %>
                </th>
              </tr>
              <tr class="align-middle">
                <th><%== sort_link(:lag) %></th>
                <th><%== sort_link(:lag_stored) %></th>
                <th><%== sort_link('Lag', :lag_d) %></th>
                <th><%== sort_link('Lag stored', :lag_stored_d) %></th>
              </tr>
            </thead>
            <tbody>
                <% partitions.each do |partition_id, details| %>
                  <%==
                    partial(
                      'health/partition_lags',
                      locals: {
                        topic_name: topic_name,
                        partition_id: partition_id,
                        details: details
                      }
                    )
                  %>
                <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
