<%== view_title('Consumers Groups Overview') %>

<%== partial 'health/tabs' %>

<% if @stats.empty? %>
  <%== partial 'health/no_data' %>
<% end %>

<% @stats.each_with_index do |(cg_name, details), index| %>
  <div class="container mb-5">
    <%== partial 'health/consumer_group_header', locals: { cg_name: cg_name, details: details } %>

    <div class="row mb-3">
      <div class="col-sm-12 table-responsive">
        <% topics = details[:topics] %>
        <% topics.each_with_index do |(topic_name, partitions), index| %>
          <table class="processes bg-white table table-hover table-bordered table-striped align-middle <%= (index+1 < topics.size) ? 'mb-5' : 'mb-3' %>">
            <thead>
              <tr class="align-middle">
                <th colspan="100">
                  <h5 class="mb-0"><%= topic_name %></h4>
                </th>
              </tr>
              <tr class="align-middle">
                <th colspan="1" rowspan="2">
                  <%== sort_link('Partition', :id) %>
                </th>
                <th colspan="1" rowspan="2">
                  <%== sort_link(:lag_hybrid) %>
                </th>
                <th colspan="1" rowspan="2">
                  <%== sort_link(:stored_offset) %>
                </th>
                <th colspan="3" rowspan="1" class="text-center">
                  States
                </th>

                <th colspan="1" rowspan="2">
                 <%== sort_link(:id) %>
                </th>
              </tr>
              <tr class="align-middle">
                <th><%== sort_link(:fetch_state) %></th>
                <th><%== sort_link(:poll_state) %></th>
                <th><%== sort_link(:lso_risk_state) %></th>
              </tr>
            </thead>
            <tbody>
                <% partitions.each do |partition_id, details| %>
                  <%==
                    partial(
                      'health/partition',
                      locals: {
                        topic_name: topic_name,
                        partition_id: partition_id,
                        details: details
                      }
                    )
                  %>
                <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
