<tr class="status-row-<%= process.status %>">
  <td>
    <div class="badge badge-topic <%= status_bg(process.status) %> float-end">
      <%= process.status %>
    </div>

    <a href="<%= root_path('consumers', process.id, 'subscriptions') %>">
      <%== truncate(process.name, strategy: :middle) %>
    </a>

    <p class="mt-0 mb-1">
      <%== partial 'consumers/assignments_badges', locals: { process: process } %>
    </p>

    <p class="mt-0 mb-1">
      <%== tags(process.tags) %>
    </p>
  </td>

  <td>
    <%== relative_time process.started_at %>
  </td>

  <td>
    <span class="badge bg-primary badge-topic">
      <%= format_memory process.memory_usage %>
    </span>
  </td>

  <td>
    <span class="badge bg-primary badge-topic">
      <%= process.workers %> /
      <%= process.busy %>
    </span>
  </td>

  <td>
    <%= process.lag_stored %>
  </td>
</tr>
