<div id="counters" class="container mb-5">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body p-2 small">
          <div class="col-sm-12">
            <ul class="list-unstyled row text-center mb-0 mt-0">
              <li class="col-sm">
                <div class="count mb-1">
                  <%= number_with_delimiter @counters.messages, ' ' %>
                </div>
                <div class="desc">Messages</div>
              </li>
              <li class="col-sm">
                <div class="count mb-1">
                  <%= number_with_delimiter @counters.batches, ' ' %>
                </div>
                <div class="desc">Batches</div>
              </li>
              <li class="col-sm">
                <div class="count mb-1">
                  <%= number_with_delimiter @counters.lag_stored, ' ' %>
                </div>
                <div class="desc">Lag stored</div>
              </li>
              <li class="col-sm">
                <a href="<%= root_path('jobs/running') %>">
                  <div class="count mb-1">
                    <%= number_with_delimiter @counters.busy, ' ' %>
                  </div>
                  <div class="desc">Running</div>
                </a>
              </li>
              <li class="col-sm">
                <a href="<%= root_path('jobs/pending') %>">
                  <div class="count mb-1">
                    <%= number_with_delimiter @counters.pending, ' ' %>
                  </div>
                  <div class="desc">Pending</div>
                </a>
              </li>
              <li class="col-sm">
                <a href="<%= root_path('errors') %>">
                  <div class="count mb-1">
                    <%= number_with_delimiter @counters.errors, ' ' %>
                  </div>
                  <div class="desc">Errors</div>
                </a>
              </li>
              <li class="col-sm">
                <div class="count mb-1">
                  <%= number_with_delimiter @counters.retries, ' ' %>
                </div>
                <div class="desc">Retries</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
