<div id="summary" class="container text-center mb-5">
  <div class="row">

    <div class="col-lg-2 offset-lg-1 col-md-4 col-sm-6">
      <div class="card mb-0">
        <div class="card-body">
          <p class="card-text">
            <div class="stat mb-1">
              <%= @counters.processes %>
            </div>
            <div class="desc">
              Processes
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6">
      <div class="card mb-0">
        <div class="card-body">
          <p class="card-text">
            <div class="stat mb-1">
              <%= @counters.workers %>
            </div>
            <div class="desc">
              Workers
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 mt-sm-4 offset-lg-0 mt-lg-0 mt-md-0">
      <div class="card mb-0">
        <div class="card-body">
          <p class="card-text">
            <div class="stat mb-1">
              <%= @counters.listeners.fetch(:active) %>
            </div>
            <div class="desc">
              Active Listeners
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-4 mt-md-4 col-sm-6 offset-md-2 mt-sm-4 offset-lg-0 mt-lg-0 mt-md-0">
      <div class="card mb-0">
        <div class="card-body">
          <p class="card-text">
            <div class="stat mb-1">
              <%= @counters.utilization.round(2) %>
              %
            </div>
            <div class="desc">
              Utilization
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-4 mt-md-4 col-sm-6 mt-sm-4 offset-sm-3 offset-lg-0 mt-lg-0 mt-md-0 offset-md-0">
      <div class="card mb-0">
        <div class="card-body">
          <p class="card-text">
            <div class="stat mb-1">
              <%= format_memory @counters.rss %>
            </div>
            <div class="desc">
              RSS
            </div>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
