<% view_title 'Consumers' %>

<%== partial 'consumers/summary' %>
<%== partial 'consumers/tabs' %>

<div class="col-span-12">
  <% if @processes.empty? && params.current_page <= 1 %>
    <%== partial 'consumers/no_consumers' %>
  <% elsif @processes.empty? %>
    <%== partial 'shared/no_paginated_data' %>
  <% else %>
    <div class="data-table-wrapper">
      <table class="data-table">
        <thead>
          <tr>
            <th><%== sort_link(:id) %></th>
            <th class="col-sm-2"><%== sort_link(:started_at, rev: true) %></th>
            <th class="col-sm-1">Memory</th>
            <th class="col-sm-1">Utilization</th>
            <th class="col-sm-1"><%== sort_link(:lag_hybrid) %></th>
          </tr>
        </thead>
        <tbody>
          <%==
            render_each(
              @processes,
              'consumers/_consumer',
              local: :process
            )
          %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
